version: '3'
services:
  go-client-test:
    build:
      context: ../go
    volumes:
      - ../go:/local
    depends_on:
      - prism_twilio

  java-test:
    build:
      context: ../java
    volumes:
      - ../java:/local
    depends_on:
      - prism_twilio

  csharp-test:
    build:
      context: ../csharp
    volumes:
      - ../csharp:/local
    depends_on:
      - prism_twilio

  node-test:
    build:
      context: ../node
    volumes:
      - ../node:/local
    depends_on:
      - prism_twilio

  prism_twilio:
    image: stoplight/prism:4.10.3
    volumes:
      - ../twilio_api_v2010.yaml:/tmp/oai.yaml
    ports:
      - "4010:4010"
    command: >
      mock -p 4010 --host 0.0.0.0
      /tmp/oai.yaml
