services:
  go-test:
    build:
      context: ../go
    volumes:
      - ../go:/local
    depends_on:
      - prism_api_v2010
      - prism_flex_v1
      - prism_versionless

  java-test:
    build:
      context: ../java
    volumes:
      - ../java:/local
    depends_on:
      - prism_api_v2010
      - prism_flex_v1
      - prism_versionless

  csharp-test:
    build:
      context: ../csharp
      args:
        - SONAR_TOKEN
    volumes:
      - ../csharp:/local
    depends_on:
      - prism_api_v2010
      - prism_flex_v1
      - prism_versionless

  node-test:
    build:
      context: ../node
    volumes:
      - ../node:/local
    depends_on:
      - prism_api_v2010
      - prism_flex_v1
      - prism_versionless

  php-test:
    build:
      context: ../php
    volumes:
      - ../php:/local
    depends_on:
      - prism_api_v2010
      - prism_flex_v1
      - prism_versionless

  ruby-test:
    build:
      context: ../ruby
    volumes:
      - ../ruby:/local
    depends_on:
      - prism_api_v2010
      - prism_flex_v1
      - prism_versionless

  python-test:
    build:
      context: ../python
    volumes:
      - ../python:/local
    depends_on:
      - prism_api_v2010
      - prism_flex_v1
      - prism_versionless

  prism_api_v2010:
    platform: linux/amd64
    image: stoplight/prism:4.10.3
    volumes:
      - ../spec/twilio_api_v2010.yaml:/tmp/oai.yaml
    hostname: api.twilio.com
    command: >
      mock -p 80 --host 0.0.0.0
      /tmp/oai.yaml

  prism_flex_v1:
    platform: linux/amd64
    image: stoplight/prism:4.10.3
    volumes:
      - ../spec/twilio_flex_v1.yaml:/tmp/oai.yaml
    hostname: flex-api.twilio.com
    command: >
      mock -p 80 --host 0.0.0.0
      /tmp/oai.yaml

  prism_versionless:
    platform: linux/amd64
    image: stoplight/prism:4.10.3
    volumes:
      - ../spec/twilio_versionless.yaml:/tmp/oai.yaml
    hostname: versionless.twilio.com
    command: >
      mock -p 80 --host 0.0.0.0
      /tmp/oai.yaml

  prism_messaging:
    platform: linux/amd64
    image: stoplight/prism:4.10.3
    volumes:
      - ../spec/twilio_messaging_v1.yml:/tmp/oai.yaml
    hostname: messaging.twilio.com
    command: >
      mock -p 80 --host 0.0.0.0
      /tmp/oai.yaml
