version: '3'
services:
  go-client-test:
    build:
      context: ../go-client
    volumes:
      - ../go-client:/local
    depends_on:
      - prism_twilio

  java-test:
    build:
      dockerfile: java.Dockerfile
      context: ../../
    depends_on:
      - prism_twilio

  prism_twilio:
    image: stoplight/prism:4
    volumes:
      - ../twilio_api_v2010.yaml:/tmp/oai.yaml
    ports:
      - "4010:4010"
    command: >
      mock -p 4010 --host 0.0.0.0
      /tmp/oai.yaml
