{{#resources}}
{{>licenseInfo}}

module Twilio
    module REST
        class {{domainName}} < Domain
            class {{apiVersionClass}} < Version
{{>list}}
{{>page}}
            end
        end
    end
end
{{/resources}}