{{#resources}}
{{>licenseInfo}}

module Twilio
    module REST
        class {{domainName}} < {{domainName}}Base
            class {{apiVersionClass}} < Version
{{#hasParents}}
{{>parentContext}}
{{/hasParents}}
{{^hasParents}}
{{>list}}
{{#metaProperties.hasInstanceOperation}}
{{>context}}
{{/metaProperties.hasInstanceOperation}}
{{>page}}
{{>page_mustache}}
{{>instance}}
            end
        end
    end
end
{{/hasParents}}
{{/resources}}
