                class {{apiName}}List < ListResource
                {{#nestedModels}}{{>modelClasses}}{{/nestedModels}}
                    ##
                    # Initialize the {{apiName}}List
                    # @param [Version] version Version that contains the resource
                    # @return [{{apiName}}List] {{apiName}}List
                    def initialize(version{{#listPathParams}}, {{paramName}}: nil{{/listPathParams}})
                        {{^isApiV1}}super(version){{/isApiV1}}
                        {{#isApiV1}}apiV1Version = ApiV1Version.new version.domain, version
                        super(apiV1Version){{/isApiV1}}
                        # Path Solution
                        @solution = { {{#listPathParams}}{{paramName}}: {{paramName}}{{^-last}}, {{/-last}}{{/listPathParams}} }
                        {{#listPath}}@uri = "{{listPath}}"{{/listPath}}
                        {{#metaProperties.listImportProperties.0}}# Components{{/metaProperties.listImportProperties.0}}{{^metaProperties.listImportProperties}}{{#metaProperties.listImportMethods.0}}# Components{{/metaProperties.listImportMethods.0}}{{/metaProperties.listImportProperties}}
                        {{#metaProperties.listImportProperties}}
                        @{{mountName}} = nil
                        {{/metaProperties.listImportProperties}}
                        {{#metaProperties.listImportMethods}}
                        @{{mountName}} = nil
                        {{/metaProperties.listImportMethods}}
                    end
                {{#apiOperations}}
                {{#vendorExtensions.listOperation}}
                {{^vendorExtensions.x-is-read-operation}}
{{>methods}}
{{>contextMethodParams}}
{{>methodsMetadata}}
{{>contextMethodParamsMetadata}}
                {{/vendorExtensions.x-is-read-operation}}
                {{/vendorExtensions.listOperation}}
                {{/apiOperations}}
                {{#operations}}{{#vendorExtensions.x-is-read-operation}}
                    ##
                    # Lists {{apiName}}Instance records from the API as a list.
                    # Unlike stream(), this operation is eager and will load `limit` records into
                    # memory before returning.
                    {{#readParams}}
                    # @param [{{dataType}}] {{paramName}} {{{description}}}
                    {{/readParams}}
                    # @param [Integer] limit Upper limit for the number of records to return. stream()
                    #    guarantees to never return more than limit.  Default is no limit
                    # @param [Integer] page_size Number of records to fetch per request, when
                    #    not set will use the default value of 50 records.  If no page_size is defined
                    #    but a limit is defined, stream() will attempt to read the limit with the most
                    #    efficient page size, i.e. min(limit, 1000)
                    # @return [Array] Array of up to limit results
                    def list({{#readParams.0}}{{#readParams}}{{>params}}{{/readParams}}, {{/readParams.0}}limit: nil, page_size: nil)
                        self.stream(
                    {{#readParams}}
                            {{paramName}}: {{paramName}},
                    {{/readParams}}
                            limit: limit,
                            page_size: page_size
                        ).entries
                    end

                    ##
                    # Streams {{apiname}}Instance records from the API as an Enumerable.
                    # This operation lazily loads records as efficiently as possible until the limit
                    # is reached.
                    {{#readParams}}
                    # @param [{{dataType}}] {{paramName}} {{{description}}}
                    {{/readParams}}
                    # @param [Integer] limit Upper limit for the number of records to return. stream()
                    #    guarantees to never return more than limit.  Default is no limit
                    # @param [Integer] page_size Number of records to fetch per request, when
                    #    not set will use the default value of 50 records.  If no page_size is defined
                    #    but a limit is defined, stream() will attempt to read the limit with the most
                    #    efficient page size, i.e. min(limit, 1000)
                    # @return [Enumerable] Enumerable that will yield up to limit results
                    def stream({{#readParams.0}}{{#readParams}}{{>params}}{{/readParams}}, {{/readParams.0}}limit: nil, page_size: nil)
                        limits = @version.read_limits(limit, page_size)

                        page = self.page(
                        {{#readParams}}
                            {{paramName}}: {{paramName}},
                        {{/readParams}}
                            page_size: limits[:page_size], )

                        @version.stream(page, limit: limits[:limit], page_limit: limits[:page_limit])
                    end

                    ##
                    # Lists {{apiName}}PageMetadata records from the API as a list.
                    {{#readParams}}
                      # @param [{{dataType}}] {{paramName}} {{{description}}}
                    {{/readParams}}
                    # @param [Integer] limit Upper limit for the number of records to return. stream()
                    #    guarantees to never return more than limit.  Default is no limit
                    # @param [Integer] page_size Number of records to fetch per request, when
                    #    not set will use the default value of 50 records.  If no page_size is defined
                    #    but a limit is defined, stream() will attempt to read the limit with the most
                    #    efficient page size, i.e. min(limit, 1000)
                    # @return [Array] Array of up to limit results
                    def list_with_metadata({{#readParams.0}}{{#readParams}}{{>params}}{{/readParams}}, {{/readParams.0}}limit: nil, page_size: nil)
                        limits = @version.read_limits(limit, page_size)
                        params = Twilio::Values.of({
                            {{#readParams}}{{^vendorExtensions.x-serialize}}'{{{baseName}}}' => {{paramName}},
                            {{/vendorExtensions.x-serialize}}{{#vendorExtensions.x-serialize}}{{^vendorExtensions.isList}}'{{{baseName}}}' =>  {{vendorExtensions.x-serialize}}({{paramName}}),{{/vendorExtensions.isList}}
                            {{#vendorExtensions.isList}}'{{{baseName}}}' =>  {{vendorExtensions.x-serialize}}({{paramName}}) { |e| e },
                            {{/vendorExtensions.isList}}{{/vendorExtensions.x-serialize}}{{/readParams}}
                            'PageSize' => page_size,
                        });
                        headers = Twilio::Values.of({})

                        response = @version.page('GET', @uri, params: params, headers: headers)

                        {{apiName}}PageMetadata.new(@version, response, @solution, limits[:limit])
                    end

                    ##
                    # When passed a block, yields {{apiName}}Instance records from the API.
                    # This operation lazily loads records as efficiently as possible until the limit
                    # is reached.
                    def each
                        limits = @version.read_limits

                        page = self.page(page_size: limits[:page_size], )

                        @version.stream(page,
                            limit: limits[:limit],
                            page_limit: limits[:page_limit]).each {|x| yield x}
                    end

                    ##
                    # Retrieve a single page of {{apiName}}Instance records from the API.
                    # Request is executed immediately.
                    {{#readParams}}
                    # @param [{{dataType}}] {{paramName}} {{{description}}}
                    {{/readParams}}
                    {{^isApiV1}}# @param [String] page_token PageToken provided by the API
                    # @param [Integer] page_number Page Number, this value is simply for client state
                    # @param [Integer] page_size Number of records to return, defaults to 50{{/isApiV1}}
                    # @return [Page] Page of {{apiName}}Instance
                    def page({{#readParams.0}}{{#readParams}}{{>params}}{{/readParams}}, {{/readParams.0}}{{^isApiV1}}page_token: :unset, page_number: :unset,{{/isApiV1}}page_size: :unset)
                        params = Twilio::Values.of({
                            {{#readParams}}{{^vendorExtensions.x-serialize}}'{{{baseName}}}' => {{paramName}},
                            {{/vendorExtensions.x-serialize}}{{#vendorExtensions.x-serialize}}{{^vendorExtensions.isList}}'{{{baseName}}}' =>  {{vendorExtensions.x-serialize}}({{paramName}}),{{/vendorExtensions.isList}}
                            {{#vendorExtensions.isList}}'{{{baseName}}}' =>  {{vendorExtensions.x-serialize}}({{paramName}}) { |e| e },
                            {{/vendorExtensions.isList}}{{/vendorExtensions.x-serialize}}{{/readParams}}{{^isApiV1}}'PageToken' => page_token,
                            'Page' => page_number,
                            {{/isApiV1}}
                            'PageSize' => page_size,
                        })
                        headers = Twilio::Values.of({})
                        {{#vendorExtensions.scimConsumes}}headers['Content-Type'] = 'application/scim+json'{{/vendorExtensions.scimConsumes}}
                        {{#vendorExtensions.scimProduces}}headers['Accept'] = 'application/scim+json'{{/vendorExtensions.scimProduces}}

                        response = @version.page('{{httpMethod}}', @uri, params: params, headers: headers)

                        {{apiName}}Page.new(@version, response, @solution)
                    end

                    ##
                    # Retrieve a single page of {{apiName}}Instance records from the API.
                    # Request is executed immediately.
                    # @param [String] target_url API-generated URL for the requested results page
                    # @return [Page] Page of {{apiName}}Instance
                    def get_page(target_url)
                        response = @version.domain.request(
                            '{{httpMethod}}',
                            target_url
                        )
                    {{apiName}}Page.new(@version, response, @solution)
                    end
                    {{/vendorExtensions.x-is-read-operation}}{{/operations}}

                {{#metaProperties.listImportProperties}}
                ##
                # Access the {{mountName}}
                # @return [{{#lambda.titlecase}}{{#lambda.camelcase}}{{filename}}{{/lambda.camelcase}}{{/lambda.titlecase}}List]
                # @return [{{#lambda.titlecase}}{{#lambda.camelcase}}{{filename}}{{/lambda.camelcase}}{{/lambda.titlecase}}Context]
                def {{mountName}}
                    @{{mountName}} ||= {{#lambda.titlecase}}{{#lambda.camelcase}}{{filename}}{{/lambda.camelcase}}{{/lambda.titlecase}}List.new(@version{{#listPathParams}}, {{paramName}}: @solution[:{{paramName}}]{{/listPathParams}} )
                end
                {{/metaProperties.listImportProperties}}
                {{#metaProperties.listImportMethods}}
                ##
                # Access the {{mountName}}
                {{#params}}
                # @return [{{#lambda.titlecase}}{{#lambda.camelcase}}{{filename}}{{/lambda.camelcase}}{{/lambda.titlecase}}List]
                # @return [{{#lambda.titlecase}}{{#lambda.camelcase}}{{filename}}{{/lambda.camelcase}}{{/lambda.titlecase}}Context] if sid was passed.
                def {{mountName}}{{#params.0}}({{#params}}{{#lambda.snakecase}}{{.}}{{/lambda.snakecase}}=:unset{{/params}}){{/params.0}}
                {{#params}}
                    raise ArgumentError, '{{#lambda.snakecase}}{{.}}{{/lambda.snakecase}} cannot be nil' if {{#lambda.snakecase}}{{.}}{{/lambda.snakecase}}.nil?
                {{/params}}

                    if {{#params}}{{#lambda.snakecase}}{{.}}{{/lambda.snakecase}} != :unset{{/params}}
                        return {{#lambda.titlecase}}{{#lambda.camelcase}}{{filename}}{{/lambda.camelcase}}{{/lambda.titlecase}}Context.new(@version{{#listPathParams}}, @solution[:{{paramName}}]{{/listPathParams}}{{#params}},{{#lambda.snakecase}}{{.}}{{/lambda.snakecase}} {{/params}})
                    end

                    @{{mountName}} ||= {{#lambda.titlecase}}{{#lambda.camelcase}}{{filename}}{{/lambda.camelcase}}{{/lambda.titlecase}}List.new(@version{{#listPathParams}}, {{paramName}}: @solution[:{{paramName}}]{{/listPathParams}} )
                end
                {{/params}}
                {{^params}}
                # @return [{{#lambda.titlecase}}{{#lambda.camelcase}}{{filename}}{{/lambda.camelcase}}{{/lambda.titlecase}}Context]
                def {{mountName}}
                   return  {{#lambda.titlecase}}{{#lambda.camelcase}}{{filename}}{{/lambda.camelcase}}{{/lambda.titlecase}}Context.new(@version{{#listPathParams}}, @solution[:{{paramName}}]{{/listPathParams}})
                end
                {{/params}}
                {{/metaProperties.listImportMethods}}

                    # Provide a user friendly representation
                    def to_s
                        '#<Twilio.{{domainName}}.{{apiVersionClass}}.{{apiName}}List>'
                    end
                end
