                    ##
                    # {{vendorExtensions.x-name}} the {{apiName}}InstanceMetadata
                    {{#queryParams}}
                    # @param [{{dataType}}] {{paramName}} {{{description}}}
                    {{/queryParams}}
                    {{#formParams}}
                    # @param [{{dataType}}] {{paramName}} {{{description}}}
                    {{/formParams}}
                    {{#headerParams}}
                    # @param [{{dataType}}] {{paramName}} {{{description}}}
                    {{/headerParams}}
                    {{#bodyParams}}
                    # @param [{{dataType}}] {{paramName}} {{{description}}}
                    {{/bodyParams}}
                    {{^vendorExtensions.x-is-delete-operation}}
                    # @return [{{apiName}}Instance] {{#vendorExtensions.x-is-fetch-operation}}{{vendorExtensions.x-name}}ed{{/vendorExtensions.x-is-fetch-operation}}{{^vendorExtensions.x-is-fetch-operation}}{{vendorExtensions.x-name}}d{{/vendorExtensions.x-is-fetch-operation}} {{apiName}}Instance
                    {{/vendorExtensions.x-is-delete-operation}}
                    {{#vendorExtensions.x-is-delete-operation}}
                    # @return [Boolean] True if delete succeeds, false otherwise
                    {{/vendorExtensions.x-is-delete-operation}}
                    def {{#lambda.camelcase}}{{vendorExtensions.x-name}}{{/lambda.camelcase}}_with_metadata{{#hasParams}}({{#queryParams}}
                      {{paramName}}: {{#required}}nil{{/required}}{{^required}}:unset{{/required}}{{^-last}}, {{/-last}}{{#-last}}{{#hasFormParams}}, {{/hasFormParams}}{{^hasFormParams}}{{#hasHeaderParams}},
                      {{/hasHeaderParams}}{{^hasHeaderParams}}{{#hasBodyParams}}, {{/hasBodyParams}}{{/hasHeaderParams}}{{/hasFormParams}}{{/-last}}{{/queryParams}}{{#formParams}}
                      {{paramName}}: {{#required}}nil{{/required}}{{^required}}:unset{{/required}}{{^-last}}, {{/-last}}{{#-last}}{{#hasHeaderParams}}, {{/hasHeaderParams}}{{^hasHeaderParams}}{{#hasBodyParams}},
                      {{/hasBodyParams}}{{/hasHeaderParams}}{{/-last}}{{/formParams}}{{#headerParams}}
                      {{paramName}}: {{#required}}nil{{/required}}{{^required}}:unset{{/required}}{{^-last}}, {{/-last}}{{#-last}}{{#hasBodyParams}}, {{/hasBodyParams}}{{/-last}}{{/headerParams}}{{#bodyParams}}{{#-first}}{{#hasQueryParams}},
                    {{/hasQueryParams}}{{^hasQueryParams}}{{#hasFormParams}},
                    {{/hasFormParams}}{{^hasFormParams}}{{#hasHeaderParams}},
                    {{/hasHeaderParams}}{{/hasFormParams}}{{/hasQueryParams}}{{/-first}}{{paramName}}: {{#required}}nil{{/required}}{{^required}}:unset{{/required}}{{^-last}}, {{/-last}}{{/bodyParams}}
                    ){{/hasParams}}
