                    ##
                    # {{vendorExtensions.x-name}} the {{apiName}}Instance
                    {{#allParams}}
                    # @param [{{dataType}}] {{paramName}} {{description}}
                    {{/allParams}}
                    {{^vendorExtensions.x-is-delete-operation}}
                    # @return [{{apiName}}Instance] {{#vendorExtensions.x-is-fetch-operation}}{{vendorExtensions.x-name}}ed{{/vendorExtensions.x-is-fetch-operation}}{{^vendorExtensions.x-is-fetch-operation}}{{vendorExtensions.x-name}}d{{/vendorExtensions.x-is-fetch-operation}} {{apiName}}Instance
{{/vendorExtensions.x-is-delete-operation}}
                    {{#vendorExtensions.x-is-delete-operation}}
                    # @return [Boolean] True if delete succeeds, false otherwise
{{/vendorExtensions.x-is-delete-operation}}
                    def {{#lambda.camelcase}}{{vendorExtensions.x-name}}{{/lambda.camelcase}}{{#hasParams}}({{#allParams}}
                        {{paramName}}: {{#required}}nil{{/required}}{{^required}}:unset{{/required}}{{^-last}}, {{/-last}}{{/allParams}}){{/hasParams}}
