{{#models}}{{^vendorExtensions.part-of-response-model}}{{#hasVars}}
                    class {{classname}}
                        {{#vars}}
                            # @param [{{name}}]: [{{{dataType}}}] {{{description}}}
                        {{/vars}}
                        attr_accessor {{#vars}}:{{name}}{{^-last}}, {{/-last}}{{/vars}}
                        def initialize(payload)
                            {{#vars}}
                                @{{name}} = payload["{{name}}"]
                            {{/vars}}
                        end
                        def to_json(options = {})
                        {
                            {{#vars}}
                                "{{baseName}}": @{{name}},
                            {{/vars}}
                        }.to_json(options)
                        end
                    end
{{/hasVars}}{{/vendorExtensions.part-of-response-model}}{{/models}}
