{{>licenseInfo}}
module Twilio
    module REST
        class {{domainName}}
            class {{apiVersionClass}} < Version
                ##
                # Initialize the {{apiVersionClass}} version of {{domainName}}
                def initialize(domain)
                    super
                    @version = '{{version}}'
                {{#versionResources}}
                    @{{mountName}} = nil
                {{/versionResources}}
                end

            {{#isApiDomain}}
                {{#param}}
                ##
                # {{filename}} provided as the authenticating account
                def {{mountName}}
                    @{{mountName}} ||= {{importName}}.new(self, @domain.client.{{param}})
                end
                {{/param}}

                ##
                # Setter to override the primary account
                def account=(value)
                    @account = value
                end
                {{#versionDependents}}
                def {{mountName}}{{#params}}({{#lambda.camelcase}}{{.}}{{/lambda.camelcase}} =:unset){{/params}}
                    self.account.{{mountName}}({{#params}}{{#lambda.camelcase}}{{.}}{{/lambda.camelcase}}{{/params}})
                end
                {{/versionDependents}}
            {{/isApiDomain}}
            {{#versionResources}}
                {{#pathParams}}
                ##
                {{#pathParams}}
                # @param [String] {{#lambda.snakecase}}{{name}}{{/lambda.snakecase}} {{description}}
                {{/pathParams}}
                # @return [Twilio::REST::{{domainName}}::{{apiVersionClass}}::{{resourceName}}Context] if {{#lambda.camelcase}}{{name}}{{/lambda.camelcase}} was passed.
                # @return [Twilio::REST::{{domainName}}::{{apiVersionClass}}::{{resourceName}}List]
                def {{mountName}}({{#pathParams}}{{#lambda.snakecase}}{{name}}{{/lambda.snakecase}}=:unset{{^-last}}, {{/-last}}{{/pathParams}})
                    {{#pathParams}}
                    if {{#lambda.snakecase}}{{name}}{{/lambda.snakecase}}.nil?
                        raise ArgumentError, '{{#lambda.snakecase}}{{name}}{{/lambda.snakecase}} cannot be nil'
                    end
                    {{/pathParams}}
                    if {{#pathParams}}{{#lambda.snakecase}}{{name}}{{/lambda.snakecase}} == :unset{{^-last}} && {{/-last}}{{/pathParams}}
                        @{{mountName}} ||= {{resourceName}}List.new self
                    else
                        {{resourceName}}Context.new(self, {{#pathParams}}{{#lambda.snakecase}}{{name}}{{/lambda.snakecase}}{{^-last}}, {{/-last}}{{/pathParams}})
                    end
                end
                {{/pathParams}}
                {{^pathParams}}
                ##
                # @return [Twilio::REST::{{domainName}}::{{apiVersionClass}}::{{#lambda.camelcase}}{{mountName}}{{/lambda.camelcase}}Context]
                def {{mountName}}
                    @{{mountName}} ||= {{resourceName}}Context.new self
                end
                {{/pathParams}}
            {{/versionResources}}
                ##
                # Provide a user friendly representation
                def to_s
                    '<Twilio::REST::{{domainName}}::{{apiVersionClass}}>';
                end
            end
        end
    end
end
