{{#apiInfo}}{{#apis}}{{#resources}}
## twilio_{{domainPackage}}_{{nameInSnakeCase}}{{#apiVersion}}_{{.}}{{/apiVersion}}

### Parameters

Name | Type | Requirement | Description
--- | --- | --- | ---
{{#schema}}
**{{{vendorExtensions.x-name-in-snake-case}}}** | {{{vendorExtensions.x-terraform-schema.fullType}}} | {{{vendorExtensions.x-terraform-schema.options.requirement}}} | {{description}}
{{/schema}}
{{/resources}}{{/apis}}{{/apiInfo}}
