@JsonIgnoreProperties(ignoreUnknown = true)
static class List{{resourceName}}Response extends Resource {
{{#responseList}}
    @Getter
    private final {{{dataType}}} {{name}};
{{/responseList}}

    @JsonCreator
    private List{{resourceName}}Response(
    {{#responseList}}
        @JsonProperty("{{baseName}}")
        final {{{dataType}}} {{name}}{{^-last}}, {{/-last}}
    {{/responseList}}
    ){
    {{#responseList}}
        this.{{name}} = {{name}};
    {{/responseList}}
    }

    public static List{{resourceName}}Response fromJson(final InputStream json, final ObjectMapper objectMapper) {
        // Convert all checked exceptions to Runtime
        try {
            return objectMapper.readValue(json, List{{resourceName}}Response.class);
        } catch (final JsonMappingException | JsonParseException e) {
            throw new ApiException(e.getMessage(), e);
        } catch (final IOException e) {
            throw new ApiConnectionException(e.getMessage(), e);
        }
    }
}