@JsonIgnoreProperties(ignoreUnknown = true)
static class Patch{{resourceName}}Response extends Resource {
{{#responsePatch}}
    @Getter
    private final {{{dataType}}} {{name}};
{{/responsePatch}}

    @JsonCreator
    private Patch{{resourceName}}Response(
    {{#responsePatch}}
        @JsonProperty("{{baseName}}")
        final {{{dataType}}} {{name}}{{^-last}}, {{/-last}}
    {{/responsePatch}}
    ){
    {{#responsePatch}}
        this.{{name}} = {{name}};
    {{/responsePatch}}
    }

    public static Patch{{resourceName}}Response fromJson(final InputStream json, final ObjectMapper objectMapper) {
        // Convert all checked exceptions to Runtime
        try {
            return objectMapper.readValue(json, Patch{{resourceName}}Response.class);
        } catch (final JsonMappingException | JsonParseException e) {
            throw new ApiException(e.getMessage(), e);
        } catch (final IOException e) {
            throw new ApiConnectionException(e.getMessage(), e);
        }
    }
}