@JsonIgnoreProperties(ignoreUnknown = true)
public static class Update{{resourceName}}Response extends Resource {
{{#responseUpdate}}
    @Getter
    private final {{{dataType}}} {{name}};
{{/responseUpdate}}

    @JsonCreator
    private Update{{resourceName}}Response(
    {{#responseUpdate}}
        @JsonProperty("{{baseName}}")
        final {{{dataType}}} {{name}}{{^-last}}, {{/-last}}
    {{/responseUpdate}}
    ){
    {{#responseUpdate}}
        this.{{name}} = {{name}};
    {{/responseUpdate}}
    }

    public static Update{{resourceName}}Response fromJson(final InputStream json, final ObjectMapper objectMapper) {
        // Convert all checked exceptions to Runtime
        try {
            return objectMapper.readValue(json, Update{{resourceName}}Response.class);
        } catch (final JsonMappingException | JsonParseException e) {
            throw new ApiException(e.getMessage(), e);
        } catch (final IOException e) {
            throw new ApiConnectionException(e.getMessage(), e);
        }
    }

    @Override
    public boolean equals(final Object o) {
        if (this == o) {
            return true;
        }

        if (o == null || getClass() != o.getClass()) {
            return false;
        }
        Update{{resourceName}}Response other = (Update{{resourceName}}Response) o;
        return (
        {{#responseUpdate}}
          Objects.equals({{name}}, other.{{name}}){{^-last}} && {{/-last}}
        {{/responseUpdate}}
        {{^responseUpdate}}
          true
        {{/responseUpdate}}
        );
    }

    @Override
    public int hashCode() {
        return Objects.hash(
            {{#responseUpdate}}
                {{name}}{{^-last}}, {{/-last}}
            {{/responseUpdate}}
        );
    }
}
