/**
 * Options to pass to each
 */
export interface {{vendorExtensions.x-resource-name}}EachOptions {
  {{#allParams}}
  /** {{{description}}} */
  "{{paramName}}"{{^required}}?{{/required}}: {{{dataType}}};
  {{/allParams}}
  /** Function to process each record. If this and a positional callback are passed, this one will be used */
  callback?: (item: {{instanceName}}, done: (err?: Error) => void) => void;
  /** Function to be called upon completion of streaming */
  done?: Function;
  /** Upper limit for the number of records to return. each() guarantees never to return more than limit. Default is no limit */
  limit?: number;
}

/**
 * Options to pass to list
 */
export interface {{vendorExtensions.x-resource-name}}Options {
  {{#allParams}}
  /** {{{description}}} */
  "{{paramName}}"{{^required}}?{{/required}}: {{{dataType}}};
  {{/allParams}}
  /** Upper limit for the number of records to return. list() guarantees never to return more than limit. Default is no limit */
  limit?: number;
}

/**
 * Options to pass to page
 */
export interface {{vendorExtensions.x-resource-name}}PageOptions {
  {{#allParams}}
  /** {{{description}}} */
  "{{paramName}}"{{^required}}?{{/required}}: {{{dataType}}};
  {{/allParams}}{{^isApiV1}}
  /** Page Number, this value is simply for client state */
  pageNumber?: number;
  /** PageToken provided by the API */
  pageToken?: string;{{/isApiV1}}
}
