{{#models}}

{{#description}}
/**
 * {{{description}}}
 */
{{/description}}
{{^isEnum}}
export class {{name}} {{#parent}}extends {{{parent}}} {{/parent}}{
{{#vars}}
{{#description}}
  /**
   * {{{description}}}
   */
{{/description}}
  "{{name}}"{{^required}}?{{/required}}: {{{dataType}}}{{#isNullable}} | null{{/isNullable}};
{{/vars}}
}

{{/isEnum}}
{{#isEnum}}
export type {{name}} = {{#allowableValues}}{{#enumVars}}{{{value}}}{{^-last}}|{{/-last}}{{/enumVars}}{{/allowableValues}};
{{/isEnum}}
{{/models}}
