{{^hasRequiredParams}}
  /**
   * {{vendorExtensions.x-name}} a {{instanceName}}
   *
   * @param callback - Callback to handle processed record
   *
   * @returns Resolves to processed {{returnType}}
   */
  {{vendorExtensions.x-name-lower}}(callback?: (error: Error | null, item?: {{returnType}}) => any): Promise<{{returnType}}>{{#hasParams}};{{/hasParams}}
{{/hasRequiredParams}}
{{#hasParams}}
  /**
   * {{vendorExtensions.x-name}} a {{instanceName}}
   *
  {{#bodyParam}}
   * @param params - Body for request
   * @param headers - header params for request
  {{/bodyParam}}
  {{^bodyParam}}
   * @param params - Parameter for request
  {{/bodyParam}}
   * @param callback - Callback to handle processed record
   *
   * @returns Resolves to processed {{instanceName}}
   */
  {{vendorExtensions.x-name-lower}}(params: {{vendorExtensions.x-resource-name}}{{vendorExtensions.x-name}}Options{{#bodyParam}}, headers?: any{{/bodyParam}}, callback?: (error: Error | null, item?: {{returnType}}) => any): Promise<{{returnType}}>;
{{/hasParams}}
