{{^hasRequiredParams}}
  /**
   * {{vendorExtensions.x-name}} a {{instanceName}}
   *
   * @param { function } [callback] - Callback to handle processed record
   *
   * @returns { Promise } Resolves to processed {{returnType}}
   */
  {{vendorExtensions.x-name-lower}}(callback?: (error: Error | null, item?: {{returnType}}) => any): Promise<{{returnType}}>{{#hasParams}};{{/hasParams}}
{{/hasRequiredParams}}
{{#hasParams}}
  /**
   * {{vendorExtensions.x-name}} a {{instanceName}}
   *
  {{#bodyParam}}
   * @param { {{dataType}} } params - Body for request
  {{/bodyParam}}
  {{^bodyParam}}
   * @param { {{vendorExtensions.x-resource-name}}{{vendorExtensions.x-name}}Options } params - Parameter for request
  {{/bodyParam}}
   * @param { function } [callback] - Callback to handle processed record
   *
   * @returns { Promise } Resolves to processed {{instanceName}}
   */
  {{vendorExtensions.x-name-lower}}(params{{^hasRequiredParams}}?{{/hasRequiredParams}}: {{#bodyParam}}{{dataType}}{{/bodyParam}}{{^bodyParam}}{{vendorExtensions.x-resource-name}}{{vendorExtensions.x-name}}Options{{/bodyParam}}{{^hasRequiredParams}} | ((error: Error | null, item?: {{returnType}}) => any){{/hasRequiredParams}}, callback?: (error: Error | null, item?: {{returnType}}) => any): Promise<{{returnType}}>
{{/hasParams}}
