{{^hasRequiredParams}}
    /**
     * {{vendorExtensions.x-name}} a {{instanceName}}
     *
     * @param { function } [callback] - Callback to handle processed record
     *
     * @returns { Promise } Resolves to processed {{instanceName}}
     */
    {{vendorExtensions.x-name-lower}}(callback?: (error: Error | null, item?: {{instanceName}}) => any): Promise<{{instanceName}}>{{#hasParams}};{{/hasParams}}
{{/hasRequiredParams}}
{{#hasParams}}
    /**
     * {{vendorExtensions.x-name}} a {{instanceName}}
     *
    {{#bodyParam}}
     * @param { {{dataType}} } params - Body for request
    {{/bodyParam}}
    {{^bodyParam}}
     * @param { {{resourceName}}Instance{{vendorExtensions.x-name}}Options } params - Parameter for request
    {{/bodyParam}}
     * @param { function } [callback] - Callback to handle processed record
     *
     * @returns { Promise } Resolves to processed {{instanceName}}
     */
    {{vendorExtensions.x-name-lower}}(params: {{#bodyParam}}{{dataType}}{{/bodyParam}}{{^bodyParam}}{{resourceName}}Instance{{vendorExtensions.x-name}}Options{{/bodyParam}}, callback?: (error: Error | null, item?: {{instanceName}}) => any): Promise<{{instanceName}}>;
    {{vendorExtensions.x-name-lower}}(params{{^hasRequiredParams}}?{{/hasRequiredParams}}: any, callback?: any): Promise<{{instanceName}}>
{{/hasParams}}
