{{#hasParams}}
  {{#hasRequiredParams}}
    if (params === null || params === undefined) {
      throw new Error('Required parameter "params" missing.');
    }

    {{#requiredParams}}
    {{^isBodyParam}}
    if (params["{{paramName}}"] === null || params["{{paramName}}"] === undefined) {
      throw new Error('Required parameter "params[\'{{paramName}}\']" missing.');
    }

    {{/isBodyParam}}
    {{/requiredParams}}
  {{/hasRequiredParams}}
  {{^hasRequiredParams}}
    if (typeof params === "function") {
      callback = params;
      params = {};
    } else {
      params = params || {};
    }

  {{/hasRequiredParams}}
    let data: any = {};

    {{#queryParams}}{{>requestParam}}{{/queryParams}}
    {{#formParams}}{{>requestParam}}{{/formParams}}
    {{#vendorExtensions.x-is-read-operation}}
    if (params.pageNumber !== undefined) data["Page"] = params.pageNumber;
    if (params.pageToken !== undefined) data["PageToken"] = params.pageToken;
    {{/vendorExtensions.x-is-read-operation}}

    const headers: any = {};
    {{#consumes}}
    {{#-first}}
    headers["Content-Type"] = "{{{mediaType}}}"
    {{/-first}}
    {{/consumes}}
    {{#headerParams}}
    if (params["{{paramName}}"] !== undefined) headers["{{{baseName}}}"] = params["{{paramName}}"];
    {{/headerParams}}
    {{/hasParams}}

    let operationVersion = {{#vendorExtensions.x-is-context-operation}}this._version{{/vendorExtensions.x-is-context-operation}}{{#vendorExtensions.x-is-list-operation}}version{{/vendorExtensions.x-is-list-operation}},
        operationPromise = operationVersion.{{vendorExtensions.x-name-lower}}({ uri: this._uri, method: "{{httpMethod}}"{{#hasParams}}, {{^isBodyAllowed}}params: {{/isBodyAllowed}}data, headers{{/hasParams}} });
    {{^vendorExtensions.x-is-read-operation}}{{^vendorExtensions.x-is-delete-operation}}
    operationPromise = operationPromise.then(payload => new {{instanceName}}(operationVersion, payload{{#vendorExtensions.x-is-context-operation}}{{#instancePathParams}}, this._solution.{{paramName}}{{/instancePathParams}}{{/vendorExtensions.x-is-context-operation}}{{#vendorExtensions.x-is-list-operation}}{{#listPathParams}}, this._solution.{{paramName}}{{/listPathParams}}{{/vendorExtensions.x-is-list-operation}}));
    {{/vendorExtensions.x-is-delete-operation}}{{/vendorExtensions.x-is-read-operation}}
    {{#vendorExtensions.x-is-read-operation}}
    operationPromise = operationPromise.then(payload => new {{returnType}}(operationVersion, payload, this._solution));
    {{/vendorExtensions.x-is-read-operation}}

    operationPromise = this._version.setPromiseCallback(operationPromise,callback);
    return operationPromise;

  {{#vendorExtensions.x-is-read-operation}}
  }
  instance.each = instance._version.each;
  instance.list = instance._version.list;

  instance.getPage = function getPage(targetUrl: string, callback?: (error: Error | null, items: {{returnType}}) => any): Promise<{{returnType}}> {
    let operationPromise = this._version._domain.twilio.request({method: "{{httpMethod}}", uri: targetUrl});

    operationPromise = operationPromise.then(payload => new {{returnType}}(this._version, payload, this._solution));
    operationPromise = this._version.setPromiseCallback(operationPromise,callback);
    return operationPromise;
  }
  {{/vendorExtensions.x-is-read-operation}}
