{{#responseModel}}

{{^isApiV1}}  interface {{apiName}}Payload extends {{^hasPaginationOperation}}{{apiName}}Resource {}{{/hasPaginationOperation}}{{#hasPaginationOperation}}TwilioResponsePayload {
    {{recordKey}}: {{#hasPaginatedPrimitiveItems}}string[]{{/hasPaginatedPrimitiveItems}}{{^hasPaginatedPrimitiveItems}}{{apiName}}Resource[]{{/hasPaginatedPrimitiveItems}};
}{{/hasPaginationOperation}}{{/isApiV1}}{{#isApiV1}}{{#hasOperationWithPagination}}  interface {{apiName}}Payload extends TokenPaginationPayload {
    {{recordKey}}: {{#hasPaginatedPrimitiveItems}}string[]{{/hasPaginatedPrimitiveItems}}{{^hasPaginatedPrimitiveItems}}{{apiName}}Resource[]{{/hasPaginatedPrimitiveItems}};
}{{/hasOperationWithPagination}}{{/isApiV1}}

{{#hasMultipleResponseModels}}
{{#responseInstanceModels}}
/**
 * Response model for {{name}} operations
 */
interface {{name}}_ResponseResource {
  {{#vars}}
  {{baseName}}{{^required}}?{{/required}}: {{{baseType}}};
  {{/vars}}
}

{{/responseInstanceModels}}
/**
 * Union type for all possible response models
 */
type {{apiName}}Resource = {{#responseInstanceModels}}{{name}}_ResponseResource{{^-last}} | {{/-last}}{{/responseInstanceModels}};
{{/hasMultipleResponseModels}}
{{^hasMultipleResponseModels}}
interface {{apiName}}Resource {
  {{#vars}}
  {{baseName}}: {{{baseType}}};
  {{/vars}}
}
{{/hasMultipleResponseModels}}

{{#description}}
/**
 * {{{description}}}
 */
{{/description}}
export class {{instanceName}} {
  {{#instancePath}}
  protected _solution: {{apiName}}ContextSolution;
  protected _context?: {{apiName}}Context;
  {{/instancePath}}

  constructor(protected _version: {{apiVersionClass}}, {{#isApiV1}}_payload{{/isApiV1}}{{^isApiV1}}payload{{/isApiV1}}: {{apiName}}Resource{{#instancePathParams}}, {{paramName}}{{^vendorExtensions.x-is-parent-param}}?{{/vendorExtensions.x-is-parent-param}}: {{{dataType}}}{{/instancePathParams}}) {
    {{#isApiV1}}{{^hasMultipleResponseModels}}const payload = _payload;{{/hasMultipleResponseModels}}{{#hasMultipleResponseModels}}const payload: any = _payload;{{/hasMultipleResponseModels}}{{/isApiV1}}
    {{#allResponseVars}}
    {{^complexType}}
    this.{{name}} = {{vendorExtensions.x-deserialize}}(payload.{{baseName}});
    {{/complexType}}
    {{#complexType}}
    {{#isArray}}
    {{#items.isModel}}
    this.{{name}} =  payload.{{baseName}} !== null && payload.{{baseName}} !== undefined ? payload.{{baseName}}.map(
      (payload: any) => new {{complexType}}(payload)
    ) : null;
    {{/items.isModel}}
    {{^items.isModel}}
    this.{{name}} = {{vendorExtensions.x-deserialize}}(payload.{{baseName}});
    {{/items.isModel}}
    {{/isArray}}
    {{^isArray}}
      {{^isModel}}
    this.{{name}} = payload.{{baseName}};
      {{/isModel}}
      {{#isModel}}
    this.{{name}} = payload.{{baseName}} !== null && payload.{{baseName}} !== undefined ? new {{complexType}}(payload.{{baseName}}) : null;
      {{/isModel}}
    {{/isArray}}
    {{/complexType}}
    {{/allResponseVars}}

    {{#instancePath}}
    this._solution = { {{#instancePathParams}}{{paramName}}{{^vendorExtensions.x-is-parent-param}}{{#isApiV1}}: {{paramName}}{{/isApiV1}}{{^isApiV1}}: {{paramName}} || this.{{paramName}}{{#vendorExtensions.x-stringify}}.toString(){{/vendorExtensions.x-stringify}}{{/isApiV1}}{{/vendorExtensions.x-is-parent-param}}, {{/instancePathParams}} };
    {{/instancePath}}
  }

  {{#allResponseVars}}
  {{#description}}
  /**
   * {{{description}}}
   */
  {{/description}}
  {{name}}{{#hasMultipleResponseModels}}?{{/hasMultipleResponseModels}}: {{{baseType}}};
  {{/allResponseVars}}
  {{#instancePath}}

  private get _proxy(): {{apiName}}Context {
    this._context = this._context || new {{apiName}}ContextImpl(this._version{{#instancePathParams}}, this._solution.{{paramName}}{{/instancePathParams}});
    return this._context;
  }
  {{#operations}}
  {{#vendorExtensions.x-is-context-operation}}

{{>operationSignature}}
{{#hasParams}}
    {{vendorExtensions.x-name-lower}}(params?: any, callback?: (error: Error | null, item?: {{returnType}}) => any): Promise<{{returnType}}>
{{/hasParams}}    {
    return this._proxy.{{vendorExtensions.x-name-lower}}({{#hasParams}}params, {{/hasParams}}callback);
  }

{{>operationSignatureWithHttpInfo}}
{{#hasParams}}
    {{vendorExtensions.x-name-lower}}WithHttpInfo(params?: any, callback?: (error: Error | null, item?: ApiResponse<{{returnType}}>) => any): Promise<ApiResponse<{{returnType}}>>
{{/hasParams}}    {
    return this._proxy.{{vendorExtensions.x-name-lower}}WithHttpInfo({{#hasParams}}params, {{/hasParams}}callback);
  }
  {{/vendorExtensions.x-is-context-operation}}
  {{/operations}}
  {{#dependents}}
  {{#instanceDependent}}

  /**
   * Access the {{mountName}}.
   */
  {{mountName}}(): {{type}} {
    return this._proxy.{{mountName}};
  }
  {{/instanceDependent}}
  {{/dependents}}
  {{/instancePath}}

  /**
   * Provide a user-friendly representation
   *
   * @returns Object
   */
  toJSON() {
    return {
      {{#allResponseVars}}
      {{name}}: this.{{name}},
      {{/allResponseVars}}
    };
  }

  [inspect.custom](_depth: any, options: InspectOptions) {
    return inspect(this.toJSON(), options);
  }
}
{{/responseModel}}
