{{#responseModel}}

interface {{apiName}}Payload extends {{^hasPaginationOperation}}{{apiName}}Resource {}{{/hasPaginationOperation}}{{#hasPaginationOperation}}TwilioResponsePayload {
    {{recordKey}}: {{apiName}}Resource[];
}{{/hasPaginationOperation}}

interface {{apiName}}Resource {
  {{#vars}}
  {{baseName}}: {{{baseType}}};
  {{/vars}}
}

{{#description}}
/**
 * {{{description}}}
 */
{{/description}}
export class {{instanceName}} {
  {{#instancePath}}
  protected _solution: {{apiName}}ContextSolution;
  protected _context?: {{apiName}}Context;
  {{/instancePath}}

  constructor(protected _version: {{apiVersionClass}}, payload: {{apiName}}Resource{{#instancePathParams}}, {{paramName}}{{^vendorExtensions.x-is-parent-param}}?{{/vendorExtensions.x-is-parent-param}}: {{{dataType}}}{{/instancePathParams}}) {
    {{#vars}}
    this.{{name}} = {{vendorExtensions.x-deserialize}}(payload.{{baseName}});
    {{/vars}}

    {{#instancePath}}
    this._solution = { {{#instancePathParams}}{{paramName}}{{^vendorExtensions.x-is-parent-param}}: {{paramName}} || this.{{paramName}}{{#isNullable}}{{#vendorExtensions.x-stringify}}.toString(){{/vendorExtensions.x-stringify}}{{/isNullable}}{{/vendorExtensions.x-is-parent-param}}, {{/instancePathParams}} };
    {{/instancePath}}
  }

  {{#vars}}
  {{#description}}
  /**
   * {{{description}}}
   */
  {{/description}}
  {{name}}: {{{baseType}}};
  {{/vars}}
  {{#instancePath}}

  private get _proxy(): {{apiName}}Context {
    this._context = this._context || new {{apiName}}ContextImpl(this._version{{#instancePathParams}}, this._solution.{{paramName}}{{/instancePathParams}});
    return this._context;
  }
  {{#operations}}
  {{#vendorExtensions.x-is-context-operation}}

{{>operationSignature}}
{{#hasParams}}
    {{vendorExtensions.x-name-lower}}(params?: any, callback?: (error: Error | null, item?: {{returnType}}) => any): Promise<{{returnType}}>
{{/hasParams}}    {
    return this._proxy.{{vendorExtensions.x-name-lower}}({{#hasParams}}params, {{/hasParams}}callback);
  }
  {{/vendorExtensions.x-is-context-operation}}
  {{/operations}}
  {{#dependents}}
  {{#instanceDependent}}

  /**
   * Access the {{mountName}}.
   */
  {{mountName}}(): {{type}} {
    return this._proxy.{{mountName}};
  }
  {{/instanceDependent}}
  {{/dependents}}
  {{/instancePath}}

  /**
   * Provide a user-friendly representation
   *
   * @returns Object
   */
  toJSON() {
    return {
      {{#vars}}
      {{name}}: this.{{name}},
      {{/vars}}
    }
  }

  [inspect.custom](_depth: any, options: InspectOptions) {
    return inspect(this.toJSON(), options);
  }
}
{{/responseModel}}
