{{>licenseInfo}}
import {{domainName}}Base from "../{{domainName}}Base";
import Version from "../../base/Version";
{{#versionResources}}
import { {{importName}} } from "./{{apiVersion}}/{{filename}}";
{{/versionResources}}

export default class {{apiVersionClass}} extends Version {
  /**
   * Initialize the {{apiVersionClass}} version of {{domainName}}
   *
   {{#versionResources}}
   * @property { Twilio.{{domainName}}.{{apiVersionClass}}.{{type}} } {{mountName}} - {{mountName}} resource
   {{/versionResources}}
   *
   * @param { Twilio.{{domainName}} } domain - The Twilio domain
   */
  constructor(domain: {{domainName}}Base) {
    super(domain, "{{version}}");
  }

  {{#versionResources}}
  protected _{{mountName}}?: {{type}};
  {{/versionResources}}

  {{#versionResources}}
  get {{mountName}}(): {{type}} {
    this._{{mountName}} = this._{{mountName}} || {{className}}(this){{#param}}(this.domain.twilio.{{.}}){{/param}};
    return this._{{mountName}};
  }

  {{/versionResources}}
}
