{{>licenseInfo}}
import {{domainName}}Base from "../{{domainName}}Base";
import Version from "../../base/Version";
{{#versionResources}}
import { {{name}}ListInstance } from "./{{apiVersion}}/{{filename}}";
{{/versionResources}}

export default class {{apiVersionClass}} extends Version {
  /**
   * Initialize the {{apiVersionClass}} version of {{domainName}}
   *
   {{#versionResources}}
   * @property { Twilio.{{domainName}}.{{apiVersionClass}}.{{name}}ListInstance } {{mountName}} - {{mountName}} resource
   {{/versionResources}}
   *
   * @param { Twilio.{{domainName}} } domain - The Twilio domain
   */
  constructor(domain: {{domainName}}Base) {
    super(domain, "{{version}}");
  }

  {{#versionResources}}
  protected _{{mountName}}?: {{name}}ListInstance;
  {{/versionResources}}

  {{#versionResources}}
  get {{mountName}}(): {{name}}ListInstance {
    this._{{mountName}} = this._{{mountName}} || {{name}}ListInstance(this);
    return this._{{mountName}};
  }

  {{/versionResources}}
}
