{{>licenseInfo}}
import { {{domain}} } from '../{{domain}}';
import Version from '../../base/Version';
{{#versionResources}}
import { {{name}}ListInstance } from './{{apiVersion}}/{{filename}}';
{{/versionResources}}

export class {{apiVersionClass}} extends Version {
    /**
     * Initialize the {{apiVersionClass}} version of {{domain}}
     *
     {{#versionResources}}
     * @property { Twilio.{{domain}}.{{apiVersionClass}}.{{name}}ListInstance } {{mountName}} - {{mountName}} resource
     {{/versionResources}}
     *
     * @param { Twilio.{{domain}} } domain - The Twilio domain
     */
    constructor(domain: {{domain}}) {
        super(domain, '{{apiVersion}}');
    }

    {{#versionResources}}
    protected _{{mountName}}?: {{name}}ListInstance;
    {{/versionResources}}

    {{#versionResources}}
    get {{mountName}}(): {{name}}ListInstance {
        this._{{mountName}} = this._{{mountName}} || new {{name}}ListInstance(this);
        return this._{{mountName}};
    }

    {{/versionResources}}
}
