{{#vendorExtensions.x-non-path-params}}
{{^isArray}}
public {{resourceName}}Creator set{{#lambda.titlecase}}{{paramName}}{{/lambda.titlecase}}(final {{{dataType}}} {{paramName}}){
    this.{{paramName}} = {{paramName}};
    return this;
}
{{/isArray}}

{{#isArray}}
public {{resourceName}}Creator set{{#lambda.titlecase}}{{paramName}}{{/lambda.titlecase}}(final {{{baseType}}} {{paramName}}){
    return set{{#lambda.titlecase}}{{paramName}}{{/lambda.titlecase}}(Promoter.listOfOne({{paramName}}));
}
{{/isArray}}

{{#vendorExtensions.x-promotions}}
{{#entrySet}}
public {{resourceName}}Creator set{{#lambda.titlecase}}{{paramName}}{{/lambda.titlecase}}(final {{#lambda.titlecase}}{{key}}{{/lambda.titlecase}} {{paramName}}){
    return set{{#lambda.titlecase}}{{paramName}}{{/lambda.titlecase}}({{value}});
}
{{/entrySet}}
{{/vendorExtensions.x-promotions}}
{{/vendorExtensions.x-non-path-params}}