
{{#enums}}
        public sealed class {{{enumName}}} : StringEnum
        {
            private {{{enumName}}}(string value) : base(value) {}
            public {{{enumName}}}() {}
            public static implicit operator {{{enumName}}}(string value)
            {
                return new {{{enumName}}}(value);
            }
        {{^isArray}}
        {{#allowableValues}}
            {{#values}}
            public static readonly {{{enumName}}} {{#lambda.titlecasewithnumbers}}{{{.}}}{{/lambda.titlecasewithnumbers}} = new {{{enumName}}}("{{{.}}}");
            {{/values}}
        {{/allowableValues}}
        {{/isArray}}

        {{#isArray}}
            {{#items}}
            {{#allowableValues}}
                {{#values}}
            public static readonly {{{enumName}}} {{#lambda.titlecasewithnumbers}}{{{.}}}{{/lambda.titlecasewithnumbers}} = new {{{enumName}}}("{{{.}}}");
                {{/values}}
            {{/allowableValues}}
            {{/items}}
        {{/isArray}}
        }
{{/enums}}