

        private static Request BuildFetchRequest(Fetch{{resourceName}}Options options, ITwilioRestClient client)
        {
            {{>resource/GeneratePath}}

            return new Request(
                HttpMethod.Get,
                Rest.Domain.{{domainPackage}},
                path,
                queryParams: options.GetParams(),
                headerParams: null
            );
        }

        public static {{resourceName}}Resource Fetch(Fetch{{resourceName}}Options options, ITwilioRestClient client = null)
        {
            client = client ?? TwilioClient.GetRestClient();
            var response = client.Request(BuildFetchRequest(options, client));
            return FromJson(response.Content);
        }

        #if !NET35
        public static async System.Threading.Tasks.Task<{{resourceName}}Resource> FetchAsync(Fetch{{resourceName}}Options options,
                                                                                             ITwilioRestClient client = null)
        {
            client = client ?? TwilioClient.GetRestClient();
            var response = await client.RequestAsync(BuildFetchRequest(options, client));
            return FromJson(response.Content);
        }
        #endif

        public static {{resourceName}}Resource Fetch(string pathSid, string pathAccountSid = null, ITwilioRestClient client = null)
        {
            var options = new Fetch{{resourceName}}Options(pathSid){PathAccountSid = pathAccountSid};
            return Fetch(options, client);
        }

        #if !NET35
        public static async System.Threading.Tasks.Task<{{resourceName}}{{resourceConstant}}> FetchAsync(string pathSid,
                string pathAccountSid = null,
                ITwilioRestClient client = null)
                {
                var options = new Fetch{{resourceName}}Options(pathSid){PathAccountSid = pathAccountSid};
                return await FetchAsync(options, client);
        }
        #endif