
    {{#vendorExtensions.parentUrl}}
            string path = "{{{vendorExtensions.parentUrl}}}";
    {{/vendorExtensions.parentUrl}}
    {{^vendorExtensions.parentUrl}}
            string path = "{{{path}}}";
    {{/vendorExtensions.parentUrl}}

    {{#pathParams}}
        {{#vendorExtensions.x-is-account-sid}}
            string {{paramName}} = options.{{{vendorExtensions.x-param-to-string}}} ?? client.AccountSid;
            path = path.Replace("{"+"{{#lambda.titlecase}}{{baseName}}{{/lambda.titlecase}}"+"}", {{paramName}});
        {{/vendorExtensions.x-is-account-sid}}
        {{^vendorExtensions.x-is-account-sid}}
            string {{paramName}} = options.{{{vendorExtensions.x-param-to-string}}};
            path = path.Replace("{"+"{{#lambda.titlecase}}{{baseName}}{{/lambda.titlecase}}"+"}", {{paramName}});
        {{/vendorExtensions.x-is-account-sid}}
    {{/pathParams}}