    {{#allParams}}
        /// <param name="{{#lambda.camelcase}} {{paramName}} {{/lambda.camelcase}}"> {{{description}}} </param>
    {{/allParams}}
        /// <param name="client"> Client to make requests to Twilio </param>