
{{#vendorExtensions.x-request-body-param}}
        /// <param name="{{#lambda.camelcase}} {{paramName}} {{/lambda.camelcase}}"> {{{description}}} </param>
        {{/vendorExtensions.x-request-body-param}}
        /// <param name="client"> Client to make requests to Twilio </param>