
{{#responseModel}}
    {{#isEnum}}
        {{#description}}
        ///<summary>
        ///{{description}}
        ///</summary> {{/description}}
        [JsonProperty("{{baseName}}")]
        {{#vendorExtensions.x-jsonConverter}}
        [JsonConverter(typeof({{vendorExtensions.x-jsonConverter}}))]
        {{/vendorExtensions.x-jsonConverter}}
        public {{{dataType}}} {{nameInCamelCase}} { get; private set; }
    {{/isEnum}}
    {{^isEnum}}
        {{#description}}
        ///<summary>
        ///{{description}}
        ///</summary> {{/description}}{{^description}}
        ///<summary>
        ///The {{{dataType}}}
        ///</summary> {{/description}}
        [JsonProperty("{{baseName}}")]
        {{#vendorExtensions.x-jsonConverter}}
        [JsonConverter(typeof({{vendorExtensions.x-jsonConverter}}))]
        {{/vendorExtensions.x-jsonConverter}}
        public {{{dataType}}} {{nameInCamelCase}} { get; private set; }
    {{/isEnum}}

{{/responseModel}}