
        private static Request BuildUpdateRequest(Update{{apiName}}Options options, ITwilioRestClient client)
        {
            {{>resource/GeneratePath}}
            return new Request(
                {{vendorExtensions.x-http-method}},
                Rest.Domain.{{domainPackage}},
                path,
                {{^bodyParams.0}}
                contentType: EnumConstants.ContentTypeEnum.FORM_URLENCODED,
                postParams: options.GetParams(),{{/bodyParams.0}}
                {{#bodyParams.0}}
                contentType: EnumConstants.ContentTypeEnum.JSON,
                body: options.GetBody(),
                {{/bodyParams.0}}
                headerParams: {{^vendorExtensions.x-header-param-exists}}null{{/vendorExtensions.x-header-param-exists}}{{#vendorExtensions.x-header-param-exists}}options.GetHeaderParams(){{/vendorExtensions.x-header-param-exists}}
            );
        }

        {{>Summary}}
        /// <param name="options"> Update {{apiName}} parameters </param>
        /// <param name="client"> Client to make requests to Twilio </param>
        {{>resource/ReturnComments}}
        public static {{apiName}}{{resourceConstant}} Update(Update{{apiName}}Options options, ITwilioRestClient client = null)
        {
            client = client ?? TwilioClient.{{restClientMethodName}}();
            var response = client.Request(BuildUpdateRequest(options, client));
            return FromJson(response.Content);
        }

        {{>Summary}}
        /// <param name="options"> Update {{apiName}} parameters </param>
        /// <param name="client"> Client to make requests to Twilio </param>
        {{>resource/ReturnCommentsAsync}}
        #if !NET35
        public static async System.Threading.Tasks.Task<{{apiName}}{{resourceConstant}}> UpdateAsync(Update{{apiName}}Options options,
                                                                                                    ITwilioRestClient client = null)
        {
            client = client ?? TwilioClient.{{restClientMethodName}}();
            var response = await client.RequestAsync(BuildUpdateRequest(options, client));
            return FromJson(response.Content);
        }
        #endif

        {{>Summary}}{{>resource/MethodsComments}}
        {{>resource/ReturnComments}}
        public static {{apiName}}{{resourceConstant}} Update({{#vendorExtensions.x-request-body-param}}
                                          {{{dataType}}} {{#lambda.camelcase}}{{paramName}}{{/lambda.camelcase}}{{^required}} = null{{/required}},{{/vendorExtensions.x-request-body-param}}
                                            ITwilioRestClient client = null)
        {
            var options = new Update{{apiName}}Options({{#requiredParams}}{{#lambda.camelcase}}{{paramName}}{{/lambda.camelcase}}{{^-last}}, {{/-last}}{{/requiredParams}}){ {{#vendorExtensions.x-request-body-param}}{{^required}}{{paramName}} = {{#lambda.camelcase}}{{paramName}}{{/lambda.camelcase}}{{^-last}}, {{/-last}}{{/required}}{{/vendorExtensions.x-request-body-param}} };
            return Update(options, client);
        }

        #if !NET35
        {{>Summary}}{{>resource/MethodsComments}}
        {{>resource/ReturnCommentsAsync}}
        public static async System.Threading.Tasks.Task<{{apiName}}{{resourceConstant}}> UpdateAsync({{#vendorExtensions.x-request-body-param}}
                                                                              {{{dataType}}} {{#lambda.camelcase}}{{paramName}}{{/lambda.camelcase}}{{^required}} = null{{/required}},{{/vendorExtensions.x-request-body-param}}
                                                                                ITwilioRestClient client = null)
        {
            var options = new Update{{apiName}}Options({{#requiredParams}}{{#lambda.camelcase}}{{paramName}}{{/lambda.camelcase}}{{^-last}}, {{/-last}}{{/requiredParams}}){ {{#vendorExtensions.x-request-body-param}}{{^required}}{{paramName}} = {{#lambda.camelcase}}{{paramName}}{{/lambda.camelcase}}{{^-last}}, {{/-last}}{{/required}}{{/vendorExtensions.x-request-body-param}} };
            return await UpdateAsync(options, client);
        }
        #endif

        {{! TwilioResponse Methods }}
        public static TwilioResponse<{{apiName}}{{resourceConstant}}> UpdateWithHeaders(Update{{apiName}}Options options, ITwilioRestClient client = null)
        {
            client = client ?? TwilioClient.{{restClientMethodName}}();
            var response = client.Request(BuildUpdateRequest(options, client));
            var resource = FromJson(response.Content);
            return new TwilioResponse<{{apiName}}{{resourceConstant}}>(resource, response.Headers, response.StatusCode);
        }

        #if !NET35
        public static async System.Threading.Tasks.Task<TwilioResponse<{{apiName}}{{resourceConstant}}>> UpdateWithHeadersAsync(Update{{apiName}}Options options,
        ITwilioRestClient client = null)
        {
            client = client ?? TwilioClient.{{restClientMethodName}}();
            var response = await client.RequestAsync(BuildUpdateRequest(options, client));
            var resource = FromJson(response.Content);
            return new TwilioResponse<{{apiName}}{{resourceConstant}}>(resource, response.Headers, response.StatusCode);
        }
        #endif

        public static TwilioResponse<{{apiName}}{{resourceConstant}}> UpdateWithHeaders({{#vendorExtensions.x-request-body-param}}
            {{{dataType}}} {{#lambda.camelcase}}{{paramName}}{{/lambda.camelcase}}{{^required}} = null{{/required}},{{/vendorExtensions.x-request-body-param}}
        ITwilioRestClient client = null)
        {
            var options = new Update{{apiName}}Options({{#requiredParams}}{{#lambda.camelcase}}{{paramName}}{{/lambda.camelcase}}{{^-last}}, {{/-last}}{{/requiredParams}}){ {{#vendorExtensions.x-request-body-param}}{{^required}}{{paramName}} = {{#lambda.camelcase}}{{paramName}}{{/lambda.camelcase}}{{^-last}}, {{/-last}}{{/required}}{{/vendorExtensions.x-request-body-param}} };
            return UpdateWithHeaders(options, client);
        }

        #if !NET35
        public static async System.Threading.Tasks.Task<TwilioResponse<{{apiName}}{{resourceConstant}}>> UpdateWithHeadersAsync({{#vendorExtensions.x-request-body-param}}
            {{{dataType}}} {{#lambda.camelcase}}{{paramName}}{{/lambda.camelcase}}{{^required}} = null{{/required}},{{/vendorExtensions.x-request-body-param}}
        ITwilioRestClient client = null)
        {
            var options = new Update{{apiName}}Options({{#requiredParams}}{{#lambda.camelcase}}{{paramName}}{{/lambda.camelcase}}{{^-last}}, {{/-last}}{{/requiredParams}}){ {{#vendorExtensions.x-request-body-param}}{{^required}}{{paramName}} = {{#lambda.camelcase}}{{paramName}}{{/lambda.camelcase}}{{^-last}}, {{/-last}}{{/required}}{{/vendorExtensions.x-request-body-param}} };
            return await UpdateWithHeadersAsync(options, client);
        }
        #endif
