{{#resources}}
<?php
{{>licenseInfo}}
namespace Twilio\Rest\{{domainName}}\{{version}}{{namespaceSubPart}};

{{>imports}}
abstract class {{apiName}}Models
{
{{#nestedModels}}
{{>models/modelMethod}}
{{/nestedModels}}
}

{{#nestedModels}}
{{>models/modelClass}}
{{/nestedModels}}
{{/resources}}
