{{#resources}}
<?php

{{>licenseInfo}}

namespace Twilio\Rest\{{domainName}}\{{version}}\{{namespaceSubPart}};;

{{>imports}}

abstract class {{apiName}}Options {
{{#apiOperations}}
{{>options/optionsCreate}}
{{>options/optionsRead}}
{{>options/optionsUpdate}}
{{>options/optionsDelete}}
{{>options/optionsFetch}}
{{/apiOperations}}
}

{{#apiOperations}}
{{>options/optionsCreateClass}}
{{>options/optionsReadClass}}
{{>options/optionsUpdateClass}}
{{>options/optionsDeleteClass}}
{{>options/optionsFetchClass}}
{{/apiOperations}}
{{/resources}}
