{{#vendorExtensions.x-is-create-operation}}
    /**
    * @param string $friendlyName A string to describe the new resource
    * @param bool $emergencyEnabled Whether to enable emergency calling on the new
    *                               address
    * @param bool $autoCorrectAddress Whether we should automatically correct the
    *                                 address
    * @return CreateAddressOptions Options builder
    */
    public static function create({{#optionalParams}}{{dataType}}  ${{paramName}} = Values::NONE,{{/optionalParams}}): Create{{apiName}}Options {
    return new Create{{apiName}}Options({{#optionalParams}}{{^vendorExtensions.x-serialize}}${{paramName}},{{/vendorExtensions.x-serialize}}{{/optionalParams}});
    }
{{/vendorExtensions.x-is-create-operation}}