{{#resources}}
<?php

{{>licenseInfo}}

namespace Twilio\Rest\{{domainName}}\{{version}}\{{namespaceSubPart}};;

{{>imports}}

abstract class {{apiName}}Options {

    {{#apiOperations}}
    {{>optionsCreate}}
    {{>optionsRead}}
    {{>optionsUpdate}}
    {{/apiOperations}}

}

{{#apiOperations}}
{{>optionsCreateClass}}
{{>optionsReadClass}}
{{>optionsUpdateClass}}
{{/apiOperations}}

{{/resources}}
