{{#resources}}
<?php
{{>licenseInfo}}
namespace Twilio\Rest\{{domainName}}\{{version}}{{namespaceSubPart}};

{{>imports}}
abstract class {{apiName}}Options {
{{#apiOperations}}
{{>options/optionMethod}}
{{/apiOperations}}
}

{{#apiOperations}}
{{>options/optionsClass}}
{{/apiOperations}}
{{/resources}}