{{#vendorExtensions.x-is-update-operation}}
class Update{{apiName}}Options extends Options {
    /**
    * @param string $friendlyName A string to describe the new resource
    * @param bool $logQueries Whether queries should be logged and kept after
    *                         training
    * @param string $uniqueName An application-defined string that uniquely
    *                           identifies the new resource
    * @param string $callbackUrl Reserved
    * @param string $callbackEvents Reserved
    * @param array $styleSheet A JSON string that defines the Assistant's style
    *                          sheet
    * @param array $defaults A JSON object that defines the Assistant's default
    *                        tasks for various scenarios
    */
    public function __construct({{#optionalParams}}{{dataType}}  ${{paramName}} = Values::NONE,{{/optionalParams}}) {
        {{#optionalParams}}
        $this->options['{{paramName}}'] = ${{paramName}};
        {{/optionalParams}}
    }

    {{#optionalParams}}
    /**
    * A descriptive string that you update to describe the new resource. It is not unique and can be up to 255 characters long.
    *
    * @param string $friendlyName A string to describe the new resource
    * @return $this Fluent Builder
    */
    public function set{{#lambda.titlecase}}{{paramName}}{{/lambda.titlecase}}(string ${{paramName}}): self {
        $this->options['{{paramName}}'] = ${{paramName}};
    return $this;
    }
    {{/optionalParams}}

    /**
    * Provide a friendly representation
    *
    * @return string Machine friendly representation
    */
    public function __toString(): string {
        $options = \http_build_query(Values::of($this->options), '', ' ');
        return '[Twilio.{{domainName}}.{{version}}{{#namespaceSubPart}}.{{namespaceSubPart}}{{/namespaceSubPart}}.Update{{apiName}}Options ' . $options . ']';
    }
}
{{/vendorExtensions.x-is-update-operation}}