{{#resources}}
<?php
{{>licenseInfo}}
namespace Twilio\Rest\{{domainName}}\{{version}}{{namespaceSubPart}};

use Twilio\Http\Response;
use Twilio\Page;{{#isApiV1}}
use Twilio\TokenPaginationPage;
use Twilio\ApiV1Version;{{/isApiV1}}
use Twilio\Version;

class {{apiName}}Page extends {{#isApiV1}}TokenPaginationPage{{/isApiV1}}{{^isApiV1}}Page{{/isApiV1}}
    {
    /**
     * @param Version $version Version that contains the resource
     * @param Response $response Response from the API
     * @param array $solution The context solution
     */
    public function __construct(Version $version, Response $response, array $solution)
    {
        {{^isApiV1}}parent::__construct($version, $response);{{/isApiV1}}{{#isApiV1}}$apiV1Version = new ApiV1Version($version->getDomain(), $version->version);
        parent::__construct($apiV1Version, $response);{{/isApiV1}}

        // Path Solution
        $this->solution = $solution;
    }

    /**
     * @param array $payload Payload response from the API
     * @return {{^isApiV1}}{{apiName}}{{/isApiV1}}{{#isApiV1}}{{#pageInstanceClassName}}{{pageInstanceClassName}}{{/pageInstanceClassName}}{{^pageInstanceClassName}}{{apiName}}{{/pageInstanceClassName}}{{/isApiV1}}Instance \Twilio\Rest\{{domainName}}\{{version}}{{namespaceSubPart}}\{{^isApiV1}}{{apiName}}{{/isApiV1}}{{#isApiV1}}{{#pageInstanceClassName}}{{pageInstanceClassName}}{{/pageInstanceClassName}}{{^pageInstanceClassName}}{{apiName}}{{/pageInstanceClassName}}{{/isApiV1}}Instance
     */
    public function buildInstance(array $payload): {{^isApiV1}}{{apiName}}{{/isApiV1}}{{#isApiV1}}{{#pageInstanceClassName}}{{pageInstanceClassName}}{{/pageInstanceClassName}}{{^pageInstanceClassName}}{{apiName}}{{/pageInstanceClassName}}{{/isApiV1}}Instance
    {
        return new {{^isApiV1}}{{apiName}}{{/isApiV1}}{{#isApiV1}}{{#pageInstanceClassName}}{{pageInstanceClassName}}{{/pageInstanceClassName}}{{^pageInstanceClassName}}{{apiName}}{{/pageInstanceClassName}}{{/isApiV1}}Instance($this->version, $payload{{#requiredPathParams}}{{#vendorExtensions.x-is-parent-param}}, $this->solution['{{paramName}}']{{/vendorExtensions.x-is-parent-param}}{{/requiredPathParams}});
    }

    /**
     * Provide a friendly representation
     *
     * @return string Machine friendly representation
     */
    public function __toString(): string
    {
        return '[Twilio.{{domainName}}.{{version}}.{{apiName}}Page]';
    }
}
{{/resources}}
