{{#vendorExtensions.x-signature-list}}
    public {{resourceName}}Creator({{#.}}final {{{dataType}}} {{paramName}}{{^-last}}, {{/-last}}{{/.}}) {
    {{#.}}
        this.{{paramName}} = {{paramName}};
    {{/.}}
    }
{{/vendorExtensions.x-signature-list}}