{{#pathParams}}
    private {{{dataType}}} {{paramName}};
{{/pathParams}}
{{#queryParams}}
    private {{{dataType}}} {{paramName}};
{{/queryParams}}
{{#headerParams}}
    private {{{dataType}}} {{paramName}};
{{/headerParams}}
{{#formParams}}
    private {{{dataType}}} {{paramName}};
{{/formParams}}