{{>partial_header}}
package {{packageName}}

{{#operations}}
import (
	"encoding/json"
	"fmt"
	"net/url"

	{{#imports}}
    "{{import}}"
    {{/imports}}
)

{{#operation}}
{{#hasOptionalParams}}

// Optional parameters for the method '{{{nickname}}}'
type {{{nickname}}}Params struct {
{{#optionalParams}}
    // {{{description}}}
    {{paramName}} *{{{dataType}}} `json:"{{{baseName}}}{{^required}},omitempty{{/required}}"{{#withXml}} xml:"{{baseName}}{{#isXmlAttribute}},attr{{/isXmlAttribute}}"{{/withXml}}{{#vendorExtensions.x-go-custom-tag}}{{/vendorExtensions.x-go-custom-tag}}`
{{/optionalParams}}
}

{{#optionalParams}}
func (params *{{{nickname}}}Params) Set{{paramName}}({{paramName}} {{{dataType}}}) (*{{{nickname}}}Params){
    params.{{paramName}} = &{{paramName}}
    return params
}
{{/optionalParams}}
{{/hasOptionalParams}}

{{#notes}}
// {{notes}}
{{/notes}}
func (c *ApiService) {{{nickname}}}({{#allParams}}{{#required}}{{paramName}} {{{dataType}}}{{^last}}, {{/last}}{{/required}}{{/allParams}}{{#hasOptionalParams}}params *{{{nickname}}}Params{{/hasOptionalParams}}) ({{#returnType}}*{{{returnType}}}, {{/returnType}}error) {
    path := "{{{path}}}"
{{#queryParams}}
    {{#vendorExtensions.x-is-account-sid}}
        if params != nil && params.PathAccountSid != nil {
        path = strings.Replace(path, "{"+"AccountSid"+"}", *params.PathAccountSid, -1)
        } else {
        path = strings.Replace(path, "{"+"AccountSid"+"}", c.requestHandler.Client.AccountSid(), -1)
        }
    {{/vendorExtensions.x-is-account-sid}}
{{/queryParams}}
{{#pathParams}}
    path = strings.Replace(path, "{"+"{{paramName}}"+"}", {{^isString}}fmt.Sprint({{/isString}}{{paramName}}{{^isString}}){{/isString}}, -1)
{{/pathParams}}

{{#vendorExtensions.x-is-json}}
{{#bodyParam.baseName}}
    var data {{{bodyParam.baseName}}}
    if params.{{{bodyParam.baseName}}} != nil {
        data = *params.{{{bodyParam.baseName}}}
    } else {
        data = {{{bodyParam.baseName}}}{}
    }
{{/bodyParam.baseName}}
{{^bodyParam.baseName}}
    data := make(map[string]interface{})
{{/bodyParam.baseName}}
{{/vendorExtensions.x-is-json}}
{{^vendorExtensions.x-is-json}}
    data := url.Values{}
{{#hasOptionalParams}}
{{#optionalParams}}
{{^vendorExtensions.x-is-account-sid}}
{{^isHeaderParam}}
    if params != nil && params.{{paramName}} != nil {
{{#isFreeFormObject}}
    {{#isArray}}
        for _, item  := range *params.{{paramName}} {
            v, err := json.Marshal(item)

            if err != nil {
                return nil, err
            }

            data.Add("{{{baseName}}}", string(v))
        }
    {{/isArray}}
    {{^isArray}}
        v, err := json.Marshal(params.{{paramName}})

        if err != nil {
            return nil, err
        }

        data.Set("{{{baseName}}}", string(v))
    {{/isArray}}
{{/isFreeFormObject}}
{{^isFreeFormObject}}
    {{#isArray}}
        for _, item  := range *params.{{paramName}} {
            data.Add("{{{baseName}}}", item)
        }
    {{/isArray}}
    {{^isArray}}
        data.Set("{{{baseName}}}", {{^isString}}fmt.Sprint({{/isString}}{{#isDateTime}}({{/isDateTime}}*params.{{paramName}}{{^isString}}{{#isDateTime}}).Format(time.RFC3339){{/isDateTime}}){{/isString}})
    {{/isArray}}
{{/isFreeFormObject}}
}
{{/isHeaderParam}}
{{/vendorExtensions.x-is-account-sid}}
{{/optionalParams}}
{{/hasOptionalParams}}
{{/vendorExtensions.x-is-json}}
    headers := make(map[string]interface{})
{{#hasHeaderParams}}
{{#headerParams}}
	if params != nil && params.{{paramName}} != nil {
		headers["{{{baseName}}}"] = *params.{{paramName}}
	}
{{/headerParams}}
{{/hasHeaderParams}}

    resp, err := c.requestHandler.{{httpMethod}}{{#vendorExtensions.x-is-json}}Json{{/vendorExtensions.x-is-json}}(c.baseURL+path, data, headers)
{{#returnType}}
    if err != nil {
        return nil, err
    }

    defer resp.Body.Close()

    ps := &{{{returnType}}}{}
    if err := json.NewDecoder(resp.Body).Decode(ps); err != nil {
        return nil, err
    }

    return ps, err
{{/returnType}}
{{^returnType}}
    if err != nil {
        return err
    }

    defer resp.Body.Close()

    return nil
{{/returnType}}
}
{{/operation}}
{{/operations}}
