{{>partial_header}}
package {{packageName}}

type {{#lambda.titlecase}}{{#lambda.camelcase}}{{appName}}{{/lambda.camelcase}}{{/lambda.titlecase}}Service struct {
    baseURL string
    client  *twilio.Client
    {{additionalProperties}}
    {{#apiInfo}}{{#apis}}{{classname}}Service *{{classname}}Service
    {{/apis}}{{/apiInfo}}
}
