{{#optionalParams}}{{^isPathParam}}
        {{^isArray}}{{dataType}}  ${{paramName}} = Values::NONE,{{/isArray}}{{#isArray}}{{dataType}}  ${{paramName}} = Array::NONE,{{/isArray}}{{/isPathParam}}{{/optionalParams}}