    /**
    {{#description}}
    * @param {{dataType}} ${{paramName}} {{description}}
    {{/description}}
    {{^description}}
    * @param {{dataType}} ${{paramName}} The {{#lambda.titlecase}}{{paramName}}{{/lambda.titlecase}}
    {{/description}}
    * @return $this Fluent Builder
    */