{{#vendorExtensions.optionFileParams}}{{#isString}}
        {{dataType}} ${{paramName}} = Values::NONE{{vendorExtensions.optionFileSeparator}}{{/isString}}{{^isArray}}{{^isDate}}{{^isDateTime}}{{^isString}}
        {{dataType}} ${{paramName}} = Values::{{#lambda.uppercase}}{{dataType}}{{/lambda.uppercase}}_NONE{{vendorExtensions.optionFileSeparator}}{{/isString}}{{/isDateTime}}{{/isDate}}{{/isArray}}{{#isArray}}
        array ${{paramName}} = Values::ARRAY_NONE{{vendorExtensions.optionFileSeparator}}{{/isArray}}{{#isDate}}
        {{dataType}} ${{paramName}} = null{{vendorExtensions.optionFileSeparator}}{{/isDate}}{{#isDateTime}}
        {{dataType}} ${{paramName}} = null{{vendorExtensions.optionFileSeparator}}{{/isDateTime}}{{/vendorExtensions.optionFileParams}}
