{{#vendorExtensions.hasOptionFileParams}}
class {{vendorExtensions.x-name}}{{apiName}}Options extends Options
    {
    /**{{#vendorExtensions.optionFileParams}}
     * @param {{dataType}} ${{paramName}}{{#description}} {{{description}}}{{/description}}{{/vendorExtensions.optionFileParams}}
     */
    public function __construct(
        {{>options/optionMethodArgs}}
    ) {
    {{#vendorExtensions.optionFileParams}}
        $this->options['{{paramName}}'] = ${{paramName}};
    {{/vendorExtensions.optionFileParams}}
    }

    {{#vendorExtensions.optionFileParams}}
    /**
    {{#description}}
     * {{{description}}}
     *
    {{/description}}
     * @param {{dataType}} ${{paramName}}{{#description}} {{{description}}}{{/description}}
     * @return $this Fluent Builder
     */
    public function set{{#lambda.titlecase}}{{paramName}}{{/lambda.titlecase}}({{^isArray}}{{dataType}} ${{paramName}}{{/isArray}}{{#isArray}}array ${{paramName}}{{/isArray}}): self
    {
        $this->options['{{paramName}}'] = ${{paramName}};
        return $this;
    }

    {{/vendorExtensions.optionFileParams}}
    /**
     * Provide a friendly representation
     *
     * @return string Machine friendly representation
     */
    public function __toString(): string
    {
        $options = $this->options;
        if (isset($options['authorization'])) {
            unset($options['authorization']);
        }
        $options = \http_build_query(Values::of($options), '', ' ');
        return '[Twilio.{{domainName}}.{{version}}.{{vendorExtensions.x-name}}{{apiName}}Options ' . $options . ']';
    }
}
{{/vendorExtensions.hasOptionFileParams}}
