{{>licenseInfo}}
{{#resources}}
from datetime import date, datetime
from typing import Any, Dict, List, Optional, Union, Iterator, AsyncIterator
from twilio.base import deserialize, serialize, values
from twilio.base.api_response import ApiResponse
{{#instancePath}}from twilio.base.instance_context import InstanceContext{{/instancePath}}
{{#responseModel}}from twilio.base.instance_resource import InstanceResource{{/responseModel}}
from twilio.base.list_resource import ListResource
from twilio.base.version import Version
{{#hasPaginationOperation}}{{#isApiV1}}from twilio.base.token_pagination import TokenPagination{{/isApiV1}}{{^isApiV1}}from twilio.base.page import Page{{/isApiV1}}{{/hasPaginationOperation}}
{{#dependents}}from twilio.rest.{{domainPackage}}.{{apiVersion}}.{{namespaceSubPart}}.{{filename}} import {{resourceName}}List
{{/dependents}}

{{#responseModel}}{{>instance}}{{/responseModel}}
{{#instancePath}}{{>context}}{{/instancePath}}
{{#hasPaginationOperation}}{{>pagination}}{{/hasPaginationOperation}}

class {{apiName}}List(ListResource):
    {{#if nestedModels}}{{>modelClasses}}{{/if}}
    def __init__(self, version: Version{{#listPathParams}}, {{paramName}}: {{{dataType}}}{{/listPathParams}}):
        """
        Initialize the {{apiName}}List

        :param version: Version that contains the resource
        {{#listPathParams}}:param {{paramName}}: {{{description}}}
        {{/listPathParams}}
        """
        super().__init__(version)

        {{#if listPathParams}}
        # Path Solution
        self._solution = { {{#listPathParams}}'{{paramName}}': {{paramName}}, {{/listPathParams}} }{{/if}}
        {{#listPath}}self._uri = '{{listPath}}'{{#if listPathParams}}.format(**self._solution){{/if}}{{/listPath}}
        {{#dependents}}{{^instanceDependent}}
        self._{{mountName}}: Optional[{{resourceName}}List] = None{{/instanceDependent}}{{/dependents}}
        {{#listPath}}{{>listOperations}}{{/listPath}}
{{#dependents}}
{{^instanceDependent}}
    @property
    def {{mountName}}(self) -> {{resourceName}}List:
        """
        Access the {{mountName}}
        """
        if self._{{mountName}} is None:
            self._{{mountName}} = {{resourceName}}List(self._version{{#listPathParams}}, {{paramName}}=self._solution['{{paramName}}']{{/listPathParams}})
        return self._{{mountName}}
{{/instanceDependent}}
{{/dependents}}
{{#instancePath}}{{>contextMethods}}{{/instancePath}}
    def __repr__(self) -> str:
        """
        Provide a friendly representation

        :returns: Machine friendly representation
        """
        return '<Twilio.{{domainName}}.{{apiVersionClass}}.{{apiName}}List>'
{{/resources}}
