{{>licenseInfo}}
from twilio.{{domainName}}Base import {{domainName}};
from twilio.base.domain import Domain
{{#versionResources}}
    from twilio.{{apiVersion}}.{{filename}} import { {{importName}} };
{{/versionResources}}

class {{domainName}}(Domain):
def __init__ (self,twilio):
"""
Initialize the {{apiVersionClass}} version of {{domainName}}

{{#versionResources}}
    @property { Twilio.{{domainName}}.{{apiVersionClass}}.{{name}} } {{mountName}} - {{mountName}} resource
{{/versionResources}}

@param { Twilio.{{domainName}} } domain - The Twilio domain
"""
super({{domainName}}, self).__init__(twilio)
self.base_url = 'https://{{domainName}}.twilio.com'
self._{{apiVersionClass}}

@property
def {{apiVersionClass}}(self):
"""
documentation needs to be added later
"""
if self._{{apiVersionClass}} is None:
self._{{apiVersionClass}}
return self._{{apiVersionClass}}

def __repr__(self):
"""
Provide a friendly representation
:returns: Machine friendly representation
:rtype: str
"""
return "<Twilio.{{domainName}}>"
