{{>licenseInfo}}
from twilio.base.domain import Domain
from twilio.rest.{{domainName}}.{{apiVersion}} import {{apiVersionClass}}

class {{domainName}}(Domain):
    def __init__(self, twilio):
        """
        Initialize the {{domainName}} Domain

        :returns: Domain for {{domainName}}
        :rtype: twilio.rest.{{apiVersion}}.{{domainName}}
        """
        super({{domainName}}, self).__init__(twilio)
        self.base_url = 'https://{{domainName}}.twilio.com'
        self._{{apiVersionClass}} = None

    @property
    def {{apiVersionClass}}(self):
        """
        :returns: Versions {{apiVersion}} of {{domainName}}
        :rtype: twilio.rest.{{domainName}}.{{apiVersion}}
        """
        if self._{{apiVersionClass}} is None:
            self._{{apiVersionClass}} = {{apiVersionClass}}(self)
        return self._{{apiVersionClass}}
    {{#versionResources}}

    @property
    def {{mountName}}(self):
        """
        :rtype: twilio.rest.{{apiVersion}}.{{mountName}}
        """
        return self.{{apiVersion}}.{{mountName}}
    {{/versionResources}}

    def __repr__(self):
        """
        Provide a friendly representation
        :returns: Machine friendly representation
        :rtype: str
        """
        return '<Twilio.{{domainName}}>'
