{{!
resourceName: Api Name as identified by Directory Structure service
recordKey:
httpMethod: http method associated in the current operation.
domainName: example api, video, chat, etc. These can be found in Domains.java in twilio-java
}}
    @Override
    public ResourceSet<{{resourceName}}> read(final TwilioRestClient client) {
        return new ResourceSet<>(this, client, firstPage(client));
    }

    public Page<{{resourceName}}> firstPage(final TwilioRestClient client) {
        {{>common/generateUri}}
        Request request = new Request(
            HttpMethod.{{httpMethod}},
            Domains.{{#lambda.uppercase}}{{domainName}}{{/lambda.uppercase}}.toString(),
            path
        );
    {{#vendorExtensions.x-no-auth}}
        request.setAuth(NoAuthStrategy.getInstance());
    {{/vendorExtensions.x-no-auth}}
    {{#queryParams.0}}
        addQueryParams(request);
    {{/queryParams.0}}
    {{#headerParams.0}}
        addHeaderParams(request);
    {{/headerParams.0}}

        return pageForRequest(client, request);
    }
