{{!
resourceName: Api Name as identified by Directory Structure service
recordKey:
httpMethod: http method associated in the current operation.
domainName: example api, video, chat, etc. These can be found in Domains.java in twilio-java
}}

    public ResourceSetResponse<{{resourceName}}> readWithResponse(final TwilioRestClient client) {
        Request request = buildFirstPageRequest(client);
        Response response = makeRequest(client, request);
        Page<{{resourceName}}> page = Page.fromJson(
            "{{recordKey}}",
            response.getContent(),
            {{resourceName}}.class,
            client.getObjectMapper()
        );
        ResourceSet<{{resourceName}}> resourceSet = new ResourceSet<>(this, client, page); 
        return new ResourceSetResponse<>(resourceSet, response.getStatusCode(), response.getHeaders());
    }

    private Request buildFirstPageRequest(final TwilioRestClient client) {
        {{>common/generateUri}}
        Request request = new Request(
            HttpMethod.{{httpMethod}},
            Domains.{{#lambda.uppercase}}{{domainName}}{{/lambda.uppercase}}.toString(),
            path
        );
    {{#vendorExtensions.x-no-auth}}
        request.setAuth(NoAuthStrategy.getInstance());
    {{/vendorExtensions.x-no-auth}}
    {{#queryParams.0}}
        addQueryParams(request);
    {{/queryParams.0}}
    {{#headerParams.0}}
        addHeaderParams(request);
    {{/headerParams.0}}
        return request;
    }
    

    @Override
    public ResourceSet<{{resourceName}}> read(final TwilioRestClient client) {
        return new ResourceSet<>(this, client, firstPage(client));
    }

    public Page<{{resourceName}}> firstPage(final TwilioRestClient client) {
        Request request = buildFirstPageRequest(client);
        return pageForRequest(client, request);
    }

    public TwilioResponse<Page<{{resourceName}}>> firstPageWithResponse(final TwilioRestClient client) {
        Request request = buildFirstPageRequest(client);
        Response response = makeRequest(client, request);
        Page<{{resourceName}}> page = Page.fromJson(
            "{{recordKey}}",
            response.getContent(),
            {{resourceName}}.class,
            client.getObjectMapper()
        );
        return new TwilioResponse<>(page, response.getStatusCode(), response.getHeaders()); 
    }
