
    {{>Summary}}
    public class Create{{apiName}}Options : IOptions<{{apiName}}{{resourceConstant}}>
    {
        {{>options/Params}}
    {{#vendorExtensions.x-required-param-exists}}
        {{>options/MethodsComments}}        public Create{{apiName}}Options({{#requiredParams}}{{{dataType}}} {{#lambda.camelcase}}{{paramName}}{{/lambda.camelcase}}{{^-last}}, {{/-last}}{{/requiredParams}})
        {
        {{#requiredParams}}
            {{paramName}} = {{#lambda.camelcase}}{{paramName}}{{/lambda.camelcase}};
        {{/requiredParams}}
        {{#allParams}}
            {{^required}}
            {{#isArray}}
            {{paramName}} = new {{{dataType}}}();
            {{/isArray}}
            {{/required}}
        {{/allParams}}
        }
    {{/vendorExtensions.x-required-param-exists}}

    {{^vendorExtensions.x-is-json}}
        {{>options/GetParams}}
    {{/vendorExtensions.x-is-json}}
    {{#vendorExtensions.x-is-json}}
        {{>options/GetBody}}
    {{/vendorExtensions.x-is-json}}
        {{>options/HeaderParams}}
    }