    public class Create{{resourceName}}Options : IOptions<{{resourceName}}{{resourceConstant}}>
    {
        // How to decide which has getter and which has setter ?
        {{>options/Params}}
    }