{{>Summary}}
    public class Fetch{{resourceName}}Options : IOptions<{{resourceName}}{{resourceConstant}}>
    {
    {{>options/Params}}

    {{#vendorExtensions.x-required-param-exist}}
    {{>options/MethodsComments}}
        public Fetch{{resourceName}}Options({{#requiredParams}}{{{dataType}}} {{#lambda.camelcase}}{{paramName}}{{/lambda.camelcase}}{{^-last}}, {{/-last}}{{/requiredParams}})
        {
        {{#requiredParams}}
            {{paramName}} = {{#lambda.camelcase}}{{paramName}}{{/lambda.camelcase}};
        {{/requiredParams}}
        {{#allParams}}
            {{#isArray}}
            {{paramName}} = new {{{dataType}}}();
            {{/isArray}}
        {{/allParams}}
        }
    {{/vendorExtensions.x-required-param-exist}}
    }

