
        /// <summary> Generate the request body </summary>
        public string GetBody()
        {
            string body = "";

            {{^isArray}}
            {{^vendorExtensions.x-parameter-map}}
            if ({{paramName}} != null)
            {
                body = {{apiName}}{{resourceConstant}}.ToJson({{paramName}});
            }
            {{/vendorExtensions.x-parameter-map}}
            {{/isArray}}
            return body;
        }
