    /// <summary>
        /// Construct a new {{operationId}}Options
        /// </summary>
        {{#requiredParams}}
        /// <param name="{{#lambda.camelcase}}{{paramName}}{{/lambda.camelcase}}"> {{description}} </param>
        {{/requiredParams}}