
{{#allParams}}
    {{#description}}
        ///<summary>
        /// {{description}}
        ///</summary>
    {{/description}}
        public {{{dataType}}} {{paramName}} { get; set; };
{{/allParams}}
