{{>licenseInfo}}
{{#imports}}
import {{import}};
{{/imports}}
import com.twilio.constant.EnumConstants.ParameterType;
{{#resources}}

@JsonIgnoreProperties(ignoreUnknown = true)
@ToString
public class {{resourceName}} extends Resource {

{{>enums}}
{{>models}}
{{>staticMethods}}
{{>response}}
}
{{/resources}}

