{{>licenseInfo}}
{{#imports}}
    import {{import}};
{{/imports}}
{{#resources}}

@JsonIgnoreProperties(ignoreUnknown = true)
@ToString
public class {{resourceName}} extends Resource {

{{>enums}}
}
{{/resources}}

