{{>licenseInfo}}
{{#imports}}
import {{import}};
{{/imports}}
import com.twilio.constant.EnumConstants.ParameterType;

{{#resources}}
{{#operations}}
{{#vendorExtensions.x-create-operation}}
public class {{resourceName}} extends Creator<{{resourceName}}> {

{{>creator/instanceVariables}}
{{>creator/constructors}}
{{>creator/setters}}
{{>creator/createMethod}}
{{>creator/addQueryParams}}
{{>creator/addHeaderParams}}
{{>creator/addPostParams}}
}
{{/vendorExtensions.x-create-operation}}
{{/operations}}
{{/resources}}