{{>licenseInfo}}
{{#resources}}
package com.twilio.rest.{{domainPackage}}.{{apiVersion}}{{namespaceSubPart}};
{{>common/imports}}

    {{#operations}}
        {{#vendorExtensions.x-delete-operation}}
            public class {{resourceName}}Deleter extends Deleter<{{resourceName}}> {

            {{>common/instanceVariables}}
            {{>common/constructors}}
            {{>deleter/setters}}
            {{>deleter/operationMethod}}
            {{#queryParams.0}}
                {{>common/addQueryParams}}
            {{/queryParams.0}}
            {{#headerParams.0}}
                {{>common/addHeaderParams}}
            {{/headerParams.0}}
            }
        {{/vendorExtensions.x-delete-operation}}
    {{/operations}}
{{/resources}}