{{>licenseInfo}}
{{#imports}}
import {{import}};
{{/imports}}
import com.twilio.constant.EnumConstants.ParameterType;

{{#resources}}
{{#operations}}
{{#vendorExtensions.x-fetch-operation}}
    public class {{resourceName}} extends Fetcher<{{resourceName}}> {

        {{>common/instanceVariables}}
        {{>common/constructors}}
        {{>common/setters}}
        {{>common/operationMethod}}
    {{#queryParams.0}}
        {{>common/addQueryParams}}
    {{/queryParams.0}}
    {{#headerParams.0}}
        {{>common/addHeaderParams}}
    {{/headerParams.0}}
    }
{{/vendorExtensions.x-fetch-operation}}
{{/operations}}
{{/resources}}