{{#mustacheModels}}

    //@JsonDeserialize(builder = {{className}}.Builder.class)
    @JsonInclude(JsonInclude.Include.NON_EMPTY)
    @ToString
{{!@Builder}}
    public static class {{className}} {
    {{#mandatoryProperties.0}}
    public {{className}}({{#mandatoryProperties}} final {{{dataType}}} {{name}}{{^-last}}, {{/-last}} {{/mandatoryProperties}}) {
    {{#mandatoryProperties}}
        this.{{name}} = {{name}};
    {{/mandatoryProperties}}
    }
    {{/mandatoryProperties.0}}
    
    {{#allProperties}}
        {{#vendorExtensions.x-deserializer}}
        @JsonDeserialize(using = {{vendorExtensions.x-deserializer}}.class)
        {{/vendorExtensions.x-deserializer}}
        @JsonInclude(JsonInclude.Include.NON_EMPTY)
        @JsonProperty("{{{baseName}}}")
        @Getter @Setter private {{{dataType}}} {{name}};

    {{/allProperties}}
{{!        @JsonPOJOBuilder(withPrefix = "")
public static class Builder {}}
    }
{{/mustacheModels}}
