{{>licenseInfo}}
{{#resources}}
package com.twilio.rest.{{domainPackage}}.{{apiVersion}}{{namespaceSubPart}};
{{>common/imports}}
import com.twilio.base.Page;
import com.twilio.base.ResourceSet;

{{#operations}}
{{#vendorExtensions.x-list-operation}}
public class {{resourceName}}Reader extends Reader<{{resourceName}}> {

    {{>common/instanceVariables}}
    {{>common/constructors}}
    {{>reader/setters}}
    {{>reader/operationMethod}}
{{#queryParams.0}}
    {{>common/addQueryParams}}
{{/queryParams.0}}
{{#headerParams.0}}
    {{>common/addHeaderParams}}
{{/headerParams.0}}
}
{{/vendorExtensions.x-list-operation}}
{{/operations}}
{{/resources}}