{{>licenseInfo}}
{{#resources}}
package com.twilio.rest.{{domainPackage}}.{{apiVersion}}{{namespaceSubPart}};
{{>common/imports}}

{{#operations}}
{{#vendorExtensions.x-update-operation}}
    public class {{resourceName}}Updater extends Updater<{{resourceName}}> {
        {{>common/instanceVariables}}
        {{>common/constructors}}
        {{>updater/setters}}
        {{>updater/operationMethod}}
    {{#queryParams.0}}
        {{>common/addQueryParams}}
    {{/queryParams.0}}
    {{#formParams.0}}
        {{>common/addPostParams}}
    {{/formParams.0}}
    {{#headerParams.0}}
        {{>common/addHeaderParams}}
    {{/headerParams.0}}
    }
{{/vendorExtensions.x-update-operation}}
{{/operations}}
{{/resources}}