{{>licenseInfo}}
{{#resources}}
package com.twilio.rest.{{domainPackage}}.{{apiVersion}}{{namespaceSubPart}};

{{>common/imports}}
import com.twilio.base.Resource;
import java.io.IOException;
import com.fasterxml.jackson.core.JsonParseException;

@JsonIgnoreProperties(ignoreUnknown = true)
@ToString
public class {{resourceName}} extends Resource {

{{>allConstructors}}
{{>enums}}
{{>models}}
{{>staticMethods}}
{{#responsesFlag}}
{{>responses}}
{{/responsesFlag}}
{{^responsesFlag}}
{{>response}}
{{/responsesFlag}}
}
{{/resources}}

