{{>licenseInfo}}
{{#resources}}
package com.twilio.rest.{{domainPackage}}.{{apiVersion}}{{namespaceSubPart}};

{{>common/imports}}

{{#operations}}
{{#vendorExtensions.x-create-operation}}
public class {{resourceName}}Creator extends Creator<{{resourceName}}> {

{{>common/instanceVariables}}
{{>common/constructors}}
{{>creator/setters}}
{{>creator/operationMethod}}
{{#queryParams.0}}
    {{>common/addQueryParams}}
{{/queryParams.0}}
{{#formParams.0}}
    {{>common/addPostParams}}
{{/formParams.0}}
{{#headerParams.0}}
    {{>common/addHeaderParams}}
{{/headerParams.0}}
{{#bodyParams.0}}
    {{>common/addPostParamsJson}}
{{/bodyParams.0}}
}
{{/vendorExtensions.x-create-operation}}
{{/operations}}
{{/resources}}