{{#isDate}}
    {{#isFormParam}}
        request.addPostParam("{{baseName}}", DateConverter.dateStringFromLocalDate({{paramName}}));
    {{/isFormParam}}
    {{^isFormParam}}
        request.addQueryParam("{{baseName}}", DateConverter.dateStringFromLocalDate({{paramName}}));
        }
    {{/isFormParam}}
{{/isDate}}
{{#isDateTime}}
    {{#isFormParam}}
        request.addPostParam("{{baseName}}", {{paramName}}.toInstant().toString());
    {{/isFormParam}}
    {{^isFormParam}}
        request.addQueryParam("{{baseName}}", {{paramName}}.toInstant().toString());
        }
    {{/isFormParam}}
{{/isDateTime}}