{{#isDate}}
    {{#isFormParam}}
    if ({{paramName}} != null) {
            request.addPostParam("{{baseName}}", DateConverter.dateStringFromLocalDate({{paramName}}));
        }
    {{/isFormParam}}
    {{^isFormParam}}
    if ({{paramName}} != null) {
            request.addQueryParam("{{baseName}}", DateConverter.dateStringFromLocalDate({{paramName}}));
        }
    {{/isFormParam}}
{{/isDate}}
{{#isDateTime}}
    {{#isFormParam}}
    if ({{paramName}} != null) {
            request.addPostParam("{{baseName}}", {{paramName}}.toInstant().toString());
        }
    {{/isFormParam}}
    {{^isFormParam}}
    if ({{paramName}} != null) {
            request.addQueryParam("{{baseName}}", {{paramName}}.toInstant().toString());
        }
    {{/isFormParam}}
{{/isDateTime}}
