{{>licenseInfo}}
{{#resources}}
package com.twilio.rest.{{domainPackage}}.{{package}}{{packageSubPart}};

import com.twilio.base.Deleter;
import com.twilio.exception.ApiConnectionException;
import com.twilio.converter.PrefixedCollapsibleMap;
import com.twilio.exception.ApiException;
import com.twilio.exception.RestException;
import com.twilio.http.HttpMethod;
import com.twilio.http.Request;
import com.twilio.http.Response;
import com.twilio.http.TwilioRestClient;
import com.twilio.rest.Domains;
import java.time.LocalDate;
import java.io.IOException;
import java.io.InputStream;
import java.net.URI;
import java.time.ZonedDateTime;
import java.time.format.DateTimeFormatter;
import com.twilio.converter.DateConverter;

{{^fullJavaUtil}}
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.Objects;
{{/fullJavaUtil}}

import lombok.ToString;


{{>model}}
{{#hasDelete}}
{{#operations}}
{{#vendorExtensions.x-is-delete-operation}}
public class {{resourceName}}Deleter extends Deleter<{{resourceName}}> {
{{#allParams}}
    private {{{dataType}}} {{paramName}};
{{/allParams}}

{{#signatureListDelete}}
    public {{resourceName}}Deleter({{#.}}final {{{dataType}}} {{paramName}}{{^-last}}, {{/-last}}{{/.}}){
    {{#.}}
        this.{{paramName}} = {{paramName}};
    {{/.}}
    }
{{/signatureListDelete}}

{{#vendorExtensions.x-non-path-params}}
    public {{resourceName}}Deleter set{{#lambda.titlecase}}{{paramName}}{{/lambda.titlecase}}(final {{{dataType}}} {{paramName}}){
    this.{{paramName}} = {{paramName}};
    return this;
    }
{{/vendorExtensions.x-non-path-params}}

    @Override
    public boolean delete(final TwilioRestClient client) {
        String path = "{{{path}}}";
        {{#allParams}}
        {{#vendorExtensions.x-is-account-sid}}
        this.{{paramName}} = this.{{paramName}} == null ? client.getAccountSid() : this.{{paramName}};
        path = path.replace("{"+"{{#lambda.titlecase}}{{paramName}}{{/lambda.titlecase}}"+"}", this.{{paramName}}.toString());
        {{/vendorExtensions.x-is-account-sid}}
        {{/allParams}}
        {{#requiredParams}}
        path = path.replace("{"+"{{#lambda.titlecase}}{{paramName}}{{/lambda.titlecase}}"+"}", this.{{paramName}}.toString());
        {{/requiredParams}}

        Request request = new Request(
            HttpMethod.DELETE,
            Domains.{{#lambda.uppercase}}{{domainName}}{{/lambda.uppercase}}.toString(),
            path
        );
        {{#queryParams.0}}
        addQueryParams(request);
        {{/queryParams.0}}
        {{#formParams.0}}
        addPostParams(request);
        {{/formParams.0}}
        {{#headerParams.0}}
        addHeaderParams(request);
        {{/headerParams.0}}
        Response response = client.request(request);

        if (response == null) {
            throw new ApiConnectionException("{{resourceName}} delete failed: Unable to connect to server");
        } else if (!TwilioRestClient.SUCCESS.test(response.getStatusCode())) {
            RestException restException = RestException.fromJson(response.getStream(), client.getObjectMapper());
            if (restException == null) {
                throw new ApiException("Server Error, no content");
            }
            throw new ApiException(restException);
        }
        return response.getStatusCode() == 204;
    }
{{#formParams.0}}
{{>postParams}}
{{/formParams.0}}
{{#headerParams.0}}
{{>headerParams}}
{{/headerParams.0}}
{{#queryParams.0}}
{{>queryParams}}
{{/queryParams.0}}
}
{{/vendorExtensions.x-is-delete-operation}}
{{/operations}}
{{/hasDelete}}
{{/resources}}

