{{#enums}}
    public enum {{#lambda.titlecase}}{{{complexType}}}{{/lambda.titlecase}} {
    {{#allowableValues}}
        {{#values}}
        {{#lambda.uppercase}}{{#lambda.replacehyphen}}{{{.}}}{{/lambda.replacehyphen}}({{/lambda.uppercase}}"{{{.}}}"){{^-last}},{{/-last}}{{#-last}};{{/-last}}
        {{/values}}
    {{/allowableValues}}

        private final String value;

        private {{#lambda.titlecase}}{{{complexType}}}{{/lambda.titlecase}}(final String value) {
        this.value = value;
        }

        public String toString() {
            return value;
        }

        @JsonCreator
        public static {{#lambda.titlecase}}{{{complexType}}}{{/lambda.titlecase}} forValue(final String value) {
            return Promoter.enumFromString(value, {{#lambda.titlecase}}{{{complexType}}}{{/lambda.titlecase}}.values());
        }
    }
{{/enums}}