@Override
public boolean equals(final Object o) {
    if (this == o) {
        return true;
    }

    if (o == null || getClass() != o.getClass()) {
    return false;
    }

    {{resourceName}} other = ({{resourceName}}) o;
    return (
        {{#response}}
            Objects.equals({{name}}, other.{{name}}){{^-last}} && {{/-last}}
        {{/response}}
    );
}

@Override
public int hashCode() {
    return Objects.hash(
        {{#response}}
            {{name}}{{^-last}}, {{/-last}}
        {{/response}}
    );
}
