{{>licenseInfo}}
{{#resources}}
package com.twilio.rest.{{domainPackage}}.{{apiVersion}}{{namespaceSubPart}};
{{>common/imports}}

{{#operations}}
{{#vendorExtensions.x-fetch-operation}}
    public class {{resourceName}}Fetcher extends Fetcher<{{resourceName}}> {

        {{>common/instanceVariables}}
        {{>common/constructors}}
        {{>fetcher/setters}}
        {{>fetcher/operationMethod}}
    {{#queryParams.0}}
        {{>common/addQueryParams}}
    {{/queryParams.0}}
    {{#headerParams.0}}
        {{>common/addHeaderParams}}
    {{/headerParams.0}}
    }
{{/vendorExtensions.x-fetch-operation}}
{{/operations}}
{{/resources}}