{{>licenseInfo}}
{{#resources}}
package com.twilio.rest.{{domainPackage}}.{{apiVersion}}{{packageSubPart}};

import com.twilio.base.Fetcher;
import com.twilio.converter.Promoter;
import com.twilio.exception.ApiConnectionException;
import com.twilio.converter.PrefixedCollapsibleMap;
import com.twilio.converter.Converter;
import com.twilio.exception.ApiException;
import com.twilio.exception.RestException;
import com.twilio.http.HttpMethod;
import com.twilio.http.Request;
import com.twilio.http.Response;
import com.twilio.http.TwilioRestClient;
import com.twilio.rest.Domains;

import java.io.IOException;
import java.io.InputStream;
import java.net.URI;
import java.time.ZonedDateTime;
import java.time.LocalDate;
import java.time.format.DateTimeFormatter;
import com.twilio.converter.DateConverter;

{{^fullJavaUtil}}
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.Objects;
{{/fullJavaUtil}}

import lombok.ToString;

{{#hasFetch}}
{{#operations}}
{{#vendorExtensions.x-is-fetch-operation}}
public class {{resourceName}}Fetcher extends Fetcher<{{resourceName}}> {
{{#allParams}}
    private {{{dataType}}} {{paramName}};
{{/allParams}}

{{#signatureListFetch}}
    public {{resourceName}}Fetcher({{#.}}final {{{dataType}}} {{paramName}}{{^-last}}, {{/-last}}{{/.}}){
    {{#.}}
        this.{{paramName}} = {{paramName}};
    {{/.}}
    }
{{/signatureListFetch}}

{{#vendorExtensions.x-non-path-params}}
    public {{resourceName}}Fetcher set{{#lambda.titlecase}}{{paramName}}{{/lambda.titlecase}}(final {{{dataType}}} {{paramName}}){
        this.{{paramName}} = {{paramName}};
        return this;
    }
{{#isArray}}
    public {{resourceName}}Fetcher set{{#lambda.titlecase}}{{paramName}}{{/lambda.titlecase}}(final {{{baseType}}} {{paramName}}){
        return set{{#lambda.titlecase}}{{paramName}}{{/lambda.titlecase}}(Promoter.listOfOne({{paramName}}));
    }
{{/isArray}}
{{#vendorExtensions.x-promotions}}
{{#entrySet}}

    public {{resourceName}}Fetcher set{{#lambda.titlecase}}{{paramName}}{{/lambda.titlecase}}(final {{#lambda.titlecase}}{{key}}{{/lambda.titlecase}} {{paramName}}){
        return set{{#lambda.titlecase}}{{paramName}}{{/lambda.titlecase}}({{value}});
    }
{{/entrySet}}
{{/vendorExtensions.x-promotions}}
{{/vendorExtensions.x-non-path-params}}

    @Override
    public {{resourceName}} fetch(final TwilioRestClient client) {
{{>generate_uri}}
        Request request = new Request(
            HttpMethod.GET,
            Domains.{{#lambda.uppercase}}{{domainName}}{{/lambda.uppercase}}.toString(),
            path
        );
        {{#queryParams.0}}
        addQueryParams(request);
        {{/queryParams.0}}
        {{#formParams.0}}
        addPostParams(request);
        {{/formParams.0}}
        {{#headerParams.0}}
        addHeaderParams(request);
        {{/headerParams.0}}
        Response response = client.request(request);

        if (response == null) {
        throw new ApiConnectionException("{{resourceName}} fetch failed: Unable to connect to server");
        } else if (!TwilioRestClient.SUCCESS.test(response.getStatusCode())) {
            RestException restException = RestException.fromJson(response.getStream(), client.getObjectMapper());
            if (restException == null) {
                throw new ApiException("Server Error, no content");
            }
            throw new ApiException(restException);
        }

        return {{resourceName}}.fromJson(response.getStream(), client.getObjectMapper());
    }
{{#formParams.0}}
{{>postParams}}
{{/formParams.0}}
{{#headerParams.0}}
{{>headerParams}}
{{/headerParams.0}}
{{#queryParams.0}}
{{>queryParams}}
{{/queryParams.0}}
}
{{/vendorExtensions.x-is-fetch-operation}}
{{/operations}}
{{/hasFetch}}
{{/resources}}
