{{#vendorExtensions.parentUrl}}
        String path = "{{{vendorExtensions.parentUrl}}}";
{{/vendorExtensions.parentUrl}}
{{^vendorExtensions.parentUrl}}
        String path = "{{{path}}}";
{{/vendorExtensions.parentUrl}}

{{#allParams}}
    {{#vendorExtensions.x-is-account-sid}}
        this.{{paramName}} = this.{{paramName}} == null ? client.getAccountSid() : this.{{paramName}};
        path = path.replace("{"+"{{baseName}}"+"}", this.{{paramName}}.toString());
    {{/vendorExtensions.x-is-account-sid}}
{{/allParams}}
{{#pathParams}}
  {{^vendorExtensions.x-is-account-sid}}
        path = path.replace("{"+"{{baseName}}"+"}", this.path{{baseName}}.toString());
  {{/vendorExtensions.x-is-account-sid}}
{{/pathParams}}
