    private void addHeaderParams(final Request request) {
{{#headerParams}}
        {{#vendorExtensions.x-is-other-data-type}}
            request.addHeaderParam("{{baseName}}", String.valueOf({{paramName}}));
        {{/vendorExtensions.x-is-other-data-type}}
        {{^vendorExtensions.x-is-other-data-type}}
        {{#isEnum}}
            request.addHeaderParam("{{baseName}}", String.valueOf({{paramName}}));
        {{/isEnum}}
        {{^isEnum}}
        {{#isString}}
            request.addHeaderParam("{{baseName}}", String.valueOf({{paramName}}));
        {{/isString}}
        {{^isString}}
            request.addHeaderParam("{{baseName}}", String.valueOf({{paramName}}));
        {{/isString}}
        {{/isEnum}}
        {{/vendorExtensions.x-is-other-data-type}}
{{/headerParams}}
    }
