
        {{#resources.nestedModels}}
        @ToString
        static public class {{classname}} {
        {{#vars}}
            @JsonInclude(JsonInclude.Include.NON_EMPTY)
            @JsonProperty("{{#lambda.lowercase}}{{{nameInSnakeCase}}}{{/lambda.lowercase}}")
            @Getter @Setter private {{{dataType}}} {{name}};
            {{#vendorExtensions.x-serialize}}
            public String get{{#lambda.titlecase}}{{name}}{{/lambda.titlecase}}() {
                return {{vendorExtensions.x-serialize}};
            }{{/vendorExtensions.x-serialize}}
        {{/vars}}
            {{#vendorExtensions.x-constructor-required}}
            {{#modelParameters}}
            public {{classname}}({{#.}}final {{{dataType}}} {{name}}{{^-last}}, {{/-last}}{{/.}} ) {
                {{#.}}
                this.{{name}} = {{name}};
                {{/.}}
            }
            {{/modelParameters}}
            {{#vendorExtensions.constructors}}
                public {{classname}}({{#.}}final {{{dataType}}} {{name}}{{^-last}}, {{/-last}}{{/.}} ) {
                {{#.}}
                    this.{{name}} = {{name}};
                {{/.}}
                }
            {{/vendorExtensions.constructors}}  
            {{/vendorExtensions.x-constructor-required}}

            {{^vendorExtensions.x-response}}
            public static {{classname}} fromJson(String jsonString, ObjectMapper mapper) throws IOException {
                return mapper.readValue(jsonString, {{classname}}.class);
            }
            {{/vendorExtensions.x-response}}
        }
    {{/resources.nestedModels}}