
    @Override
    public boolean equals(final Object o) {
        if (this == o) {
            return true;
        }
    
        if (o == null || getClass() != o.getClass()) {
            return false;
        }
    
        {{className}} other = ({{className}}) o;
        return (
        {{#allProperties}}
            Objects.equals({{name}}, other.{{name}}){{^-last}} && {{/-last}}
        {{/allProperties}}
        );
    }
    
    @Override
    public int hashCode() {
        return Objects.hash(
        {{#allProperties}}
        {{name}}{{^-last}}, {{/-last}}
        {{/allProperties}}
        );
    }
