
  private void addMultipartFormDataParams(final {{vendorExtensions.x-auth-attributes.x-http-class-prefix}}Request request) {
      {{#formParams}}
        if ({{paramName}} != null) {
        {{^isFile}}
            request.addFormParameter("{{baseName}}", Type.TEXT, {{paramName}}.toString());
        {{/isFile}}
        {{#isFile}}
          request.addFormParameter("{{baseName}}", Type.FILE, {{paramName}});
        {{/isFile}}
        }
      {{/formParams}}
  }
