{{#vendorExtensions.x-is-page-size}}
        if (get{{#lambda.titlecase}}{{paramName}}{{/lambda.titlecase}}() != null) {
            request.addQueryParam("{{baseName}}", Integer.toString(get{{#lambda.titlecase}}{{paramName}}{{/lambda.titlecase}}()));
        }
{{/vendorExtensions.x-is-page-size}}