        ObjectMapper objectMapper = client.getObjectMapper();
    {{#bodyParams}}
        if ({{paramName}} != null) {
            request.setBody({{apiName}}.toJson({{paramName}}, objectMapper));
        }
    {{/bodyParams}}
    }