    private void addPostParams(final Request request, TwilioRestClient client) {
        ObjectMapper objectMapper = client.getObjectMapper();
    {{#bodyParams}}
        request.addPostParam("{{baseName}}", {{apiName}}.toJsonString({{paramName}}, objectMapper));
    {{/bodyParams}}
    }