{{#isTokenAuth}}
    private void addQueryParams(final BearerTokenRequest request) {
{{/isTokenAuth}}
{{^isTokenAuth}}
    private void addQueryParams(final Request request) {
{{/isTokenAuth}}
{{>queryParams}}    }