    private void addQueryParams(final Request request) {
{{#queryParams}}
{{#vendorExtensions.x-has-before-and-after}}
{{>combinationQueryParams}}
{{/vendorExtensions.x-has-before-and-after}}
{{^vendorExtensions.x-has-before-and-after}}
{{>pageSizeQParam}}
{{^vendorExtensions.x-is-page-size}}
{{#vendorExtensions.x-prefixed-collapsible-map}}
{{>prefixedCollapsibleMapQParams}}
        {{/vendorExtensions.x-prefixed-collapsible-map}}
        {{^vendorExtensions.x-prefixed-collapsible-map}}
        if ({{#lambda.titlecase}}{{paramName}}{{/lambda.titlecase}} != null) {
            {{#isString}}
            request.addQueryParam("{{baseName}}", {{#lambda.titlecase}}{{paramName}}{{/lambda.titlecase}});
        }
            {{/isString}}
            {{#isArray}}
            for ({{baseType}} prop : {{#lambda.titlecase}}{{paramName}}{{/lambda.titlecase}}) {
                request.addQueryParam("{{#lambda.titlecase}}{{paramName}}{{/lambda.titlecase}}", prop);
            }
        }
            {{/isArray}}
            {{>dateQueryParams}}
            {{#vendorExtensions.x-is-other-data-type}}
            request.addQueryParam("{{#lambda.titlecase}}{{paramName}}{{/lambda.titlecase}}", {{#lambda.titlecase}}{{paramName}}{{/lambda.titlecase}}.toString());
        }
        {{/vendorExtensions.x-is-other-data-type}}
            {{/vendorExtensions.x-prefixed-collapsible-map}}
        {{/vendorExtensions.x-is-page-size}}
{{/vendorExtensions.x-has-before-and-after}}
{{/queryParams}}
    }