{{#queryParams}}
    {{#vendorExtensions.x-has-before-and-after}}
{{>dateTimeGroupParams}}
    {{/vendorExtensions.x-has-before-and-after}}
    {{^vendorExtensions.x-has-before-and-after}}
        {{#vendorExtensions.x-prefixed-collapsible-map}}
        {{>prefixedCollapsibleMapQParams}}
        {{/vendorExtensions.x-prefixed-collapsible-map}}
        {{^vendorExtensions.x-prefixed-collapsible-map}}
            {{#isArray}}
            {{#isEnum}}
            if ({{paramName}} != null) {
            for ({{baseType}} prop : {{paramName}}) {
                request.addQueryParam("{{baseName}}", String.valueOf(prop));
            }
        }
            {{/isEnum}}
            {{^isEnum}}
            {{#vendorExtensions.x-is-string-array}}
            if ({{paramName}} != null) {
            for ({{baseType}} prop : {{paramName}}) {
                request.addQueryParam("{{baseName}}", prop);
            }
        }
            {{/vendorExtensions.x-is-string-array}}
            {{^vendorExtensions.x-is-string-array}}
            if ({{paramName}} != null) {
            for ({{baseType}} prop : {{paramName}}) {
                request.addQueryParam("{{baseName}}", String.valueOf(prop));
            }
        }
            {{/vendorExtensions.x-is-string-array}}
            {{/isEnum}}
            {{/isArray}}
            {{^isArray}}
    {{>dateParams}}
            {{#vendorExtensions.x-is-other-data-type}}
            request.addQueryParam("{{baseName}}", String.valueOf({{paramName}}));
            {{/vendorExtensions.x-is-other-data-type}}
            {{^vendorExtensions.x-is-other-data-type}}
            {{#isString}}
            request.addQueryParam("{{baseName}}", String.valueOf({{paramName}}));
            {{/isString}}
            {{/vendorExtensions.x-is-other-data-type}}
        {{/isArray}}
        {{/vendorExtensions.x-prefixed-collapsible-map}}
    {{/vendorExtensions.x-has-before-and-after}}
{{/queryParams}}
