{{>licenseInfo}}
{{#resources}}
package com.twilio.rest.{{domainPackage}}.{{package}}{{packageSubPart}};

import com.twilio.base.Reader;
import com.twilio.base.ResourceSet;
import com.twilio.exception.ApiConnectionException;
import com.twilio.exception.ApiException;
import com.twilio.exception.RestException;
import com.twilio.http.HttpMethod;
import com.twilio.http.Request;
import com.twilio.http.Response;
import com.twilio.http.TwilioRestClient;
import com.twilio.rest.Domains;
import com.twilio.base.Page;
import java.time.ZonedDateTime;
import java.time.LocalDate;
import java.time.ZonedDateTime;
import java.io.IOException;
import java.io.InputStream;
import java.net.URI;
import java.time.ZonedDateTime;

{{^fullJavaUtil}}
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.Objects;
{{/fullJavaUtil}}

import lombok.ToString;



{{>model}}
{{#hasRead}}
{{#operations}}
{{#vendorExtensions.x-is-read-operation}}
public class {{resourceName}}Reader extends Reader<{{resourceName}}> {
{{#allParams}}
    private {{{dataType}}} {{paramName}};
{{/allParams}}

{{#signatureListRead}}
    public {{resourceName}}Reader({{#.}}final {{{dataType}}} {{paramName}}{{^-last}}, {{/-last}}{{/.}}){
    {{#.}}
        this.{{paramName}} = {{paramName}};
    {{/.}}
    }
{{/signatureListRead}}

{{#vendorExtensions.x-non-path-params}}
    public {{resourceName}}Reader set{{#lambda.titlecase}}{{paramName}}{{/lambda.titlecase}}(final {{{dataType}}} {{#lambda.titlecase}}{{paramName}}{{/lambda.titlecase}}){
        this.{{paramName}} = {{paramName}};
        return this;
    }
{{/vendorExtensions.x-non-path-params}}

{{#queryParams.0}}
    private void addQueryParams(final Request request) {
    {{#queryParams}}
        {{#vendorExtensions.x-has-before-and-after}}
        if ({{#lambda.titlecase}}{{paramName}}{{/lambda.titlecase}} != null) {
            request.addQueryParam("{{baseName}}", {{#lambda.titlecase}}{{paramName}}{{/lambda.titlecase}}.format(DateTimeFormatter.ofPattern(Request.QUERY_STRING_DATE_TIME_FORMAT)));
        }
        else if ({{#lambda.titlecase}}{{paramName}}{{/lambda.titlecase}}After != null || {{#lambda.titlecase}}{{paramName}}{{/lambda.titlecase}}Before != null) {
            request.addQueryDateTimeRange("{{#lambda.titlecase}}{{paramName}}{{/lambda.titlecase}}", {{#lambda.titlecase}}{{paramName}}{{/lambda.titlecase}}After, {{#lambda.titlecase}}{{paramName}}{{/lambda.titlecase}}Before);
        }
        {{/vendorExtensions.x-has-before-and-after}}
        {{^vendorExtensions.x-has-before-and-after}}
        {{#vendorExtensions.x-is-page-size}}
        if (get{{#lambda.titlecase}}{{paramName}}{{/lambda.titlecase}} != null) {
           request.addQueryParam("{{baseName}}", Integer.toString(get{{#lambda.titlecase}}{{paramName}}{{/lambda.titlecase}}()));
        }
        {{/vendorExtensions.x-is-page-size}}
        {{^vendorExtensions.x-is-page-size}}
        {{#vendorExtensions.x-prefixed-collapsible-map}}
        if ({{paramName}} != null) {
            Map<String, String> params = PrefixedCollapsibleMap.serialize({{{paramName}}}, "{{vendorExtensions.x-prefixed-collapsible-map}}");
            for (Map.Entry<String, String> entry : params.entrySet()) {
                request.addQueryParam(entry.getKey(), entry.getValue());
            }
        }
        {{/vendorExtensions.x-prefixed-collapsible-map}}
        {{^vendorExtensions.x-prefixed-collapsible-map}}
        if ({{#lambda.titlecase}}{{paramName}}{{/lambda.titlecase}} != null) {
        {{#isString}}
            request.addQueryParam("{{baseName}}", {{#lambda.titlecase}}{{paramName}}{{/lambda.titlecase}});
        {{/isString}}
        {{#isArray}}
            for ({{baseType}} prop : {{#lambda.titlecase}}{{paramName}}{{/lambda.titlecase}}) {
                request.addQueryParam("{{#lambda.titlecase}}{{paramName}}{{/lambda.titlecase}}", prop);
            }
        {{/isArray}}
        {{#isDate}}
            request.addQueryParam("{{#lambda.titlecase}}{{paramName}}{{/lambda.titlecase}}", DateConverter.dateStringFromLocalDate({{#lambda.titlecase}}{{paramName}}{{/lambda.titlecase}}));
        {{/isDate}}
        {{#isDateTime}}
            request.addQueryParam("{{#lambda.titlecase}}{{paramName}}{{/lambda.titlecase}}", {{#lambda.titlecase}}{{paramName}}{{/lambda.titlecase}}.toInstant().toString());
        {{/isDateTime}}
        {{#vendorExtensions.x-is-other-data-type}}
            request.addQueryParam("{{#lambda.titlecase}}{{paramName}}{{/lambda.titlecase}}", {{#lambda.titlecase}}{{paramName}}{{/lambda.titlecase}}.toString());
        {{/vendorExtensions.x-is-other-data-type}}
        }
        {{/vendorExtensions.x-prefixed-collapsible-map}}
        {{/vendorExtensions.x-is-page-size}}
        {{/vendorExtensions.x-has-before-and-after}}

    {{/queryParams}}
    }
{{/queryParams.0}}

    @Override
    public ResourceSet<{{resourceName}}> read(final TwilioRestClient client) {
        return new ResourceSet<>(this, client, firstPage(client));
    }

    public Page<{{resourceName}}> firstPage(final TwilioRestClient client) {
        String path = "{{{path}}}";
        {{#allParams}}
        {{#vendorExtensions.x-is-account-sid}}
        this.{{paramName}} = this.{{paramName}} == null ? client.getAccountSid() : this.{{paramName}};
        path = path.replace("{"+"{{paramName}}"+"}", this.{{paramName}}.toString());
        {{/vendorExtensions.x-is-account-sid}}
        {{/allParams}}
        {{#requiredParams}}
        path = path.replace("{"+"{{paramName}}"+"}", this.{{paramName}}.toString());
        {{/requiredParams}}

        Request request = new Request(
            HttpMethod.GET,
            Domains.{{#lambda.uppercase}}{{domain}}{{/lambda.uppercase}}.toString(),
            path
        );

        {{#queryParams.0}}
        addQueryParams(request);
        {{/queryParams.0}}
        {{#formParams.0}}
        addPostParams(request);
        {{/formParams.0}}
        {{#headerParams.0}}
        addHeaderParams(request);
        {{/headerParams.0}}
        return pageForRequest(client, request);
    }

    private Page<{{resourceName}}> pageForRequest(final TwilioRestClient client, final Request request) {
        Response response = client.request(request);

        if (response == null) {
            throw new ApiConnectionException("{{resourceName}} read failed: Unable to connect to server");
        } else if (!TwilioRestClient.SUCCESS.test(response.getStatusCode())) {
            RestException restException = RestException.fromJson(response.getStream(), client.getObjectMapper());
            if (restException == null) {
                throw new ApiException("Server Error, no content");
            }
            throw new ApiException(restException);
        }

        return Page.fromJson(
            "{{recordKey}}",
            response.getContent(),
            {{resourceName}}.class,
            client.getObjectMapper()
        );
    }

    @Override
    public Page<{{resourceName}}> previousPage(final Page<{{resourceName}}> page, final TwilioRestClient client) {
        Request request = new Request(
            HttpMethod.GET,
            page.getPreviousPageUrl(Domains.{{#lambda.uppercase}}{{domain}}{{/lambda.uppercase}}.toString())
        );
        return pageForRequest(client, request);
    }


    @Override
    public Page<{{resourceName}}> nextPage(final Page<{{resourceName}}> page, final TwilioRestClient client) {
        Request request = new Request(
            HttpMethod.GET,
            page.getNextPageUrl(Domains.{{#lambda.uppercase}}{{domain}}{{/lambda.uppercase}}.toString())
        );
        return pageForRequest(client, request);
    }

    @Override
    public Page<{{resourceName}}> getPage(final String targetUrl, final TwilioRestClient client) {
        Request request = new Request(
            HttpMethod.GET,
            targetUrl
        );

        return pageForRequest(client, request);
    }
{{#formParams.0}}
    private void addPostParams(final Request request) {
{{#formParams}}
    if ({{#lambda.titlecase}}{{paramName}}{{/lambda.titlecase}} != null){
    {{#isFreeFormObject}}
        request.addPostParam("{{#lambda.titlecase}}{{paramName}}{{/lambda.titlecase}}",  Converter.mapToJson({{paramName}}));
    {{/isFreeFormObject}}
    {{^isFreeFormObject}}
        request.addPostParam("{{#lambda.titlecase}}{{paramName}}{{/lambda.titlecase}}", {{#lambda.titlecase}}{{paramName}}{{/lambda.titlecase}}.toString());
    {{/isFreeFormObject}}
    }
{{/formParams}}
    }
{{/formParams.0}}
    {{#headerParams.0}}
    private void addHeaderParams(final Request request) {
    {{#headerParams}}
        if ({{#lambda.titlecase}}{{paramName}}{{/lambda.titlecase}} != null) {
            {{#isString}}
                request.addHeaderParam("{{baseName}}", {{#lambda.titlecase}}{{paramName}}{{/lambda.titlecase}});
            {{/isString}}
            {{^isString}}
                request.addHeaderParam("{{baseName}}", {{#lambda.titlecase}}{{paramName}}{{/lambda.titlecase}}.toString());
            {{/isString}}
        }
    {{/headerParams}}
    }
    {{/headerParams.0}}
}
{{/vendorExtensions.x-is-read-operation}}
{{/operations}}
{{/hasRead}}
{{/resources}}

