{{>licenseInfo}}
{{#resources}}
package com.twilio.rest.{{domainPackage}}.{{apiVersion}}{{namespaceSubPart}};
{{>common/imports}}
import com.twilio.base.Page;
{{#isApiV1}}import com.twilio.base.TokenPaginationPage;{{/isApiV1}}
import com.twilio.base.ResourceSet;

{{#operations}}
{{#vendorExtensions.x-list-operation}}
public class {{resourceName}}Reader extends Reader<{{resourceName}}> {

    {{>common/instanceVariables}}
    {{>common/constructors}}
    {{>reader/setters}}
    {{>reader/operationMethod}}
    {{>reader/paginationMethods}}
    {{! Query is mandatory for list operations }}
    {{>common/addQueryParams}}

{{#headerParams.0}}
    {{>common/addHeaderParams}}
{{/headerParams.0}}
}
{{/vendorExtensions.x-list-operation}}
{{/operations}}
{{/resources}}
