{{#responseModel}}
{{#vendorExtensions.enumVars}}
{{#isEnum}}
    public enum {{#lambda.titlecase}}{{{enumName}}}{{/lambda.titlecase}} {
        {{#allowableValues}}
        {{#values}}
        {{#lambda.uppercase}}{{#lambda.replacehyphen}}{{{.}}}{{/lambda.replacehyphen}}({{/lambda.uppercase}}"{{{.}}}"){{^-last}},{{/-last}}{{#-last}};{{/-last}}
        {{/values}}
        {{/allowableValues}}

        private final String value;

        private {{#lambda.titlecase}}{{{enumName}}}{{/lambda.titlecase}}(final String value) {
            this.value = value;
        }

        @Override
        public String toString() {
            return value;
        }

        @JsonCreator
        public static {{#lambda.titlecase}}{{{enumName}}}{{/lambda.titlecase}} forValue(final String value) {
            return Promoter.enumFromString(value, {{#lambda.titlecase}}{{{enumName}}}{{/lambda.titlecase}}.values());
        }
    }
{{/isEnum}}
{{/vendorExtensions.enumVars}}

{{#vars}}
    private final {{{dataType}}} {{name}};
{{/vars}}

    @JsonCreator
    private {{apiName}}({{#vars}}
        @JsonProperty("{{{nameInSnakeCase}}}")
        {{#vendorExtensions.hydrate}}
        final String {{{name}}}{{^-last}},{{/-last}}
        {{/vendorExtensions.hydrate}}
        {{#vendorExtensions.deserialize.x-currency}}
        @JsonDeserialize(using = com.twilio.converter.CurrencyDeserializer.class)
        {{/vendorExtensions.deserialize.x-currency}}
        {{^vendorExtensions.hydrate}}
        final {{{dataType}}} {{{name}}}{{^-last}},{{/-last}}
        {{/vendorExtensions.hydrate}}
    {{/vars}}
    ) {
    {{#vars}}
        {{#vendorExtensions.hydrate.x-date-time-rfc-2822}}
        this.{{{name}}} = {{{vendorExtensions.hydrate.x-date-time-rfc-2822}}};
        {{/vendorExtensions.hydrate.x-date-time-rfc-2822}}
        {{#vendorExtensions.hydrate.x-date-time}}
        this.{{{name}}} = {{{vendorExtensions.hydrate.x-date-time}}};
        {{/vendorExtensions.hydrate.x-date-time}}
        {{#vendorExtensions.hydrate.x-date}}
        this.{{{name}}} = {{{vendorExtensions.hydrate.x-date}}};
        {{/vendorExtensions.hydrate.x-date}}
        {{^vendorExtensions.hydrate}}
        this.{{{name}}} = {{{name}}};
        {{/vendorExtensions.hydrate}}
    {{/vars}}
    }

    {{#vars}}
        public final {{{dataType}}} get{{#lambda.titlecase}}{{{name}}}{{/lambda.titlecase}}() {
            return this.{{{name}}};
        }
    {{/vars}}

    @Override
    public boolean equals(final Object o) {
        if (this==o) {
            return true;
        }

        if (o == null || getClass() != o.getClass()) {
            return false;
        }

        {{apiName}} other = ({{apiName}}) o;

        return {{#vars}}Objects.equals({{name}}, other.{{name}}) {{^-last}}&& {{/-last}} {{/vars}};
    }

    @Override
    public int hashCode() {
        return Objects.hash({{#vars}}{{{name}}}{{^-last}}, {{/-last}}{{/vars}});
    }
{{/responseModel}}
