    /**
    {{#vars}}
     * @property {{{dataType}}} ${{#lambda.camelcase}}{{baseName}}{{/lambda.camelcase}}{{#description}} {{{description}}}{{/description}}
    {{/vars}}
    */
    public static function create{{classname}}(array $payload = []): {{classname}}
    {
        return new {{classname}}($payload);
    }
