{{#vendorExtensions.optionFileParams}}{{^-first}} {{/-first}}{{^isArray}}{{dataType}} ${{paramName}} = Values::NONE{{vendorExtensions.optionFileSeparator}}{{/isArray}}{{#isArray}}array ${{paramName}} = Values::ARRAY_NONE{{vendorExtensions.optionFileSeparator}}{{/isArray}}{{/vendorExtensions.optionFileParams}}