
        /// <summary>
        /// Converts a JSON string into a {{resourceName}}{{resourceConstant}} object
        /// </summary>
        /// <param name="json"> Raw JSON string </param>
        /// <returns> {{resourceName}}{{resourceConstant}} object represented by the provided JSON </returns>
        public static {{resourceName}}{{resourceConstant}} FromJson(string json)
        {
            try
            {
                return JsonConvert.DeserializeObject<{{resourceName}}{{resourceConstant}}>(json);
            }
            catch (JsonException e)
            {
                throw new ApiException(e.Message, e);
            }
        }