
            string path = "{{path}}";
    {{#pathParams}}
        {{#vendorExtensions.x-is-account-sid}}
            string Path{{paramName}} = options.Path{{paramName}} ?? client.{{paramName}};
            path = path.replace("{"+"{{#lambda.titlecase}}{{paramName}}{{/lambda.titlecase}}"+"}", Path{{paramName}});
        {{/vendorExtensions.x-is-account-sid}}
        {{^vendorExtensions.x-is-account-sid}}

            string Path{{paramName}} = options.Path{{paramName}};
            path = path.replace("{"+"{{#lambda.titlecase}}{{paramName}}{{/lambda.titlecase}}"+"}", Path{{paramName}});
        {{/vendorExtensions.x-is-account-sid}}
    {{/pathParams}}