
        /// <summary> Fetch the target page of records </summary>
        /// <param name="targetUrl"> API-generated URL for the requested results page </param>
        /// <param name="client"> Client to make requests to Twilio </param>
        /// <returns> The target page of records </returns>
        public static Page<{{apiName}}{{resourceConstant}}> GetPage(string targetUrl, {{restClientPrefix}}Twilio{{clientName}}RestClient client)
        {
            client = client ?? Twilio{{domainClassPrefix}}Client.Get{{restClientClassName}}RestClient();

            var request = new {{authMethod}}Request(
                HttpMethod.Get,
                targetUrl
            );

            var response = client.Request(request);
            return Page<{{apiName}}{{resourceConstant}}>.FromJson("{{recordKey}}", response.Content);
        }

        /// <summary> Fetch the next page of records </summary>
        /// <param name="page"> current page of records </param>
        /// <param name="client"> Client to make requests to Twilio </param>
        /// <returns> The next page of records </returns>
        public static Page<{{apiName}}{{resourceConstant}}> NextPage(Page<{{apiName}}{{resourceConstant}}> page, {{restClientPrefix}}Twilio{{clientName}}RestClient client)
        {
            var request = new {{authMethod}}Request(
                HttpMethod.Get,
                page.GetNextPageUrl(Rest.Domain.Api)
            );

            var response = client.Request(request);
            return Page<{{apiName}}{{resourceConstant}}>.FromJson("{{recordKey}}", response.Content);
        }

        /// <summary> Fetch the previous page of records </summary>
        /// <param name="page"> current page of records </param>
        /// <param name="client"> Client to make requests to Twilio </param>
        /// <returns> The previous page of records </returns>
        public static Page<{{apiName}}{{resourceConstant}}> PreviousPage(Page<{{apiName}}{{resourceConstant}}> page, {{restClientPrefix}}Twilio{{clientName}}RestClient client)
        {
            var request = new {{authMethod}}Request(
                HttpMethod.Get,
                page.GetPreviousPageUrl(Rest.Domain.Api)
            );

            var response = client.Request(request);
            return Page<{{apiName}}{{resourceConstant}}>.FromJson("{{recordKey}}", response.Content);
        }