private void addPostParams(final Request request, TwilioRestClient client) {
    ObjectMapper objectMapper = client.getObjectMapper();
    {{#bodyParams}}
        if ({{paramName}} != null) {
        request.setBody({{resourceName}}.toJson({{paramName}}, objectMapper));
        }
    {{/bodyParams}}
}